policy_module(oracle,1.1.1)

########################################
#
# $Id: oracle.te 1558 2008-04-16 21:25:05Z rm153 $
#

########################################
#
# Declarations
#

## <desc>
## <p>
## Allow oracle SNMP support.
## </p>
## </desc>
gen_tunable(oracle_snmp_support,false)

## <desc>
## <p>
## Allow oracle 11g support.
## </p>
## </desc>
gen_tunable(oracle_11g_support,false)

########################################
#
# Policy
#

# Type for temporary files
type oracle_tmp_t;
files_tmp_file(oracle_tmp_t)

oracle_server_template(db)
oracle_server_template(tnslsnr)
oracle_ui_template(lsnrctl)
oracle_ui_template(sqlplus)

# Alias scripts (e.g., dbstart, dbshut) to sqlplus
typealias oracle_sqlplus_t alias oracle_script_t;
typealias oracle_sqlplus_exec_t alias oracle_script_exec_t;

# Type for database files
type oracle_dbfile_t;
files_config_file(oracle_dbfile_t)

# Allow the oracle process to write to the db files
allow oracle_db_t oracle_dbfile_t:file { manage_file_perms };
allow oracle_db_t oracle_dbfile_t:dir { manage_dir_perms };

# Automatically transition to the correct domain
domain_auto_trans(oracle_tnslsnr_t, oracle_db_exec_t, oracle_db_t)
domain_auto_trans(oracle_lsnrctl_t, oracle_tnslsnr_exec_t, oracle_tnslsnr_t)

# Support clip, mls, and strict policies
# For now, map oracle login to SELinux staff_u user in the future a dba role
# should be available.
#
# semanage login -a -s staff_u oracle
#
optional_policy(`
    gen_require(`
        type staff_t;
    ')
    # Allow staff to manage oracle files
    oracle_manage_files(staff_t)
')

# TODO: create dba role
oracle_management_role(staff_r)
oracle_management_role(system_r)
oracle_management_role(sysadm_r)

###
## networking
#

# define oracle ports
type oracle_port_t;
corenet_port(oracle_port_t)
# for RHEL5.0 policy
#corenet_port_type(oracle_port_t)

#
# you cannot create ports in a policy module so use semanage instead
# - https://www.redhat.com/archives/fedora-selinux-list/2007-April/msg00078.html
# semanage port -a -t oracle_port_t -p tcp 1521

# allow sending and receiving on oracle ports
corenet_tcp_bind_oracle_port(oracle_tnslsnr_t)
corenet_tcp_sendrecv_oracle_port(oracle_tnslsnr_t)
corenet_tcp_connect_oracle_port(oracle_lsnrctl_t)
corenet_tcp_connect_oracle_port(oracle_tnslsnr_t)
corenet_tcp_connect_oracle_port(oracle_db_t)

corenet_tcp_bind_all_nodes(oracle_tnslsnr_t)
corenet_udp_bind_all_nodes(oracle_tnslsnr_t)
corenet_tcp_sendrecv_all_if(oracle_tnslsnr_t)
corenet_udp_sendrecv_all_if(oracle_tnslsnr_t)
corenet_tcp_sendrecv_all_nodes(oracle_tnslsnr_t)
corenet_udp_sendrecv_all_nodes(oracle_tnslsnr_t)
corenet_tcp_connect_generic_port(oracle_tnslsnr_t)
gen_require(`
	type lo_node_t;
')
allow oracle_db_t lo_node_t:udp_socket node_bind;
corenet_udp_bind_all_nodes(oracle_db_t)
corenet_udp_bind_generic_node(oracle_db_t)

###
## executables
#
corecmd_search_bin(oracle_lsnrctl_t)
corecmd_search_bin(oracle_db_t)

###
## devices
#
dev_read_rand(oracle_db_t)
dev_read_urand(oracle_db_t)
dev_rw_zero(oracle_db_t)

###
## Allow reading proc, system settings, and state
#
kernel_read_all_sysctls(oracle_db_t)
kernel_read_system_state(oracle_db_t)
kernel_getattr_proc_files(oracle_db_t)
kernel_read_proc_symlinks(oracle_db_t)

###
## additional permissions
#
# Allow fifos
allow oracle_db_t self:fifo_file { rw_file_perms };

# Allow semaphores and shared memory
allow oracle_db_t self:sem create_sem_perms;
allow oracle_db_t self:shm create_shm_perms;

# Allow execing
can_exec(oracle_db_t, oracle_db_exec_t)

# Allow signals, and fds to self
allow oracle_db_t self:process { sigkill signal };
allow oracle_db_t self:fd use;

# Allow tnslsnr to use lsnrctl fds
allow oracle_tnslsnr_t oracle_lsnrctl_t:fd use;
allow oracle_tnslsnr_t oracle_lsnrctl_t:fifo_file { rw_file_perms };

# Allow tnslsnr to execmem
allow oracle_tnslsnr_t self:process { execmem };

# Allow lsnrctl to connect to tnslsnr via unix stream socket
allow oracle_lsnrctl_t oracle_tnslsnr_t:unix_stream_socket connectto;

# Allow listener to execute oracle binary
allow oracle_tnslsnr_t bin_t:dir search;
allow oracle_tnslsnr_t oracle_db_exec_t:file { rx_file_perms };
allow oracle_tnslsnr_t oracle_db_t:fd use;

# Allow listener to communicate with database via shared memory
allow oracle_tnslsnr_t oracle_db_t:shm { rw_shm_perms };

# Allow oracle db to communicate with listener
allow oracle_db_t oracle_tnslsnr_t:fd use;
allow oracle_db_t oracle_tnslsnr_t:fifo_file { rw_file_perms };
allow oracle_db_t oracle_tnslsnr_t:tcp_socket { rw_socket_perms };

# Allow sqlplus to read shell redirects
read_files_pattern(oracle_sqlplus_t, tmp_t, tmp_t)

# sqlplus can run sql scripts
oracle_script(oracle_sqlplus_t)

# Allow sqlplus to read content from home directories on targeted
# policy.
ifdef(`targeted_policy',`
	userdom_read_all_users_home_content_files(oracle_sqlplus_t)
')

tunable_policy(`oracle_snmp_support',`
	corenet_tcp_connect_snmp_port(oracle_tnslsnr_t)
	corenet_tcp_sendrecv_snmp_port(oracle_tnslsnr_t)
',`
	corenet_dontaudit_tcp_connect_snmp_port(oracle_tnslsnr_t)
')

tunable_policy(`oracle_11g_support',`
	allow oracle_db_t self:process getsched;
	allow oracle_lsnrctl_t self:process { execstack execmem };
	allow oracle_sqlplus_t self:process { execstack execmem };
	allow oracle_tnslsnr_t self:process execstack;
')

role unconfined_r types oracle_sqlplus_t;
