AuthType Basic
AuthName "RHN Org Admin Area"

PerlModule PXT::ApacheHandler
PerlModule PXT::ApacheAuth
PerlAuthenHandler PXT::ApacheAuth
require acl user_role(activation_key_admin); org_entitlement(sw_mgr_enterprise)



