Source: rhn-client-tools
Section: python
Priority: extra
Maintainer: Miroslav Suchý <miroslav@suchy.cz>
Uploaders: Bernd Zeimetz <bzed@debian.org>
Build-Depends: python (>= 2.6.6-3~), debhelper (>= 7.0.50~), intltool, quilt (>= 0.48-3~)
Standards-Version: 3.9.3
Homepage: https://fedorahosted.org/spacewalk
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/spacewalk/rhn-client-tools.git
Vcs-Git: git://anonscm.debian.org/collab-maint/spacewalk/rhn-clint-tools.git

Package: rhn-client-tools
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, python-rhn (>= 2.5.40),
 python-ethtool [linux-any], python-dbus, python-apt (>= 0.7.100), python-newt,
 python-dmidecode, lsb-release, gnupg, python-gudev [linux-any], hal [!linux-any], debconf, python-openssl
Recommends: apt-spacewalk
Suggests: python-gnome2, python-gtk2, python-glade2
Description: Red Hat Network Client Tools
 programs and libraries to allow your system to receive
 software updates from Red Hat Network or Spacewalk.

