#!/usr/bin/make -f
# -*- makefile -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGENAME=$(strip $(shell dh_listpackages | head -1))

params=-f Makefile.rhn-client-tools PLATFORM=deb PREFIX=$(CURDIR)/debian/$(PACKAGENAME)

override_dh_auto_clean:
	$(MAKE) $(params) clean
override_dh_auto_build:
	dh_auto_build -- $(params)
override_dh_auto_install:
	$(MAKE) $(params) install
	rm -rf $(CURDIR)/debian/$(PACKAGENAME)/usr/share/firstboot
	rm -rf $(CURDIR)/debian/$(PACKAGENAME)/usr/share/setuptool
	rm -rf $(CURDIR)/debian/$(PACKAGENAME)/etc/security
	rm -rf $(CURDIR)/debian/$(PACKAGENAME)/etc/pam.d
	rm -rf $(CURDIR)/debian/$(PACKAGENAME)/etc/rpm
	rm -rf $(CURDIR)/debian/$(PACKAGENAME)/etc/security
	rmdir $(CURDIR)/debian/$(PACKAGENAME)/etc/yum.repos.d

override_dh_auto_test:
	$(MAKE) $(params) test

%:
	dh $@ --with python2,quilt

