[Unit]
Description=Spacewalk Monitoring service
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/Monitoring start
ExecStop=/usr/sbin/Monitoring stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
