<Files choose_value_to_remove.pxt>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler

  require acl org_entitlement(rhn_provisioning)
</Files>

<Files choose_value_to_set.pxt>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler

  require acl org_entitlement(rhn_provisioning)
</Files>

<Files set_value.pxt>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler

  require acl org_entitlement(rhn_provisioning)
</Files>

<Files remove_value.pxt>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler

  require acl org_entitlement(rhn_provisioning)
</Files>
