<HTML>
<HEAD>
<TITLE>Notification Server Manager</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK REL="stylesheet" HREF="/styles.css">
</HEAD>

<BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">
<FORM NAME=TAMgrForm METHOD="post" ACTION="alertmgr.cgi">
<INPUT TYPE="hidden" NAME="FUNC" VALUE="3">
<INPUT TYPE="hidden" NAME="SERVER_NAME" VALUE="&&servername">
<TABLE border="1" cellspacing="0" cellpadding="2" align="left">
  <TR>
    <TD NOWRAP COLSPAN=2 align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> Status for server &&servername:
      <BR>
      <TEXTAREA NAME="results" ROWS="10" COLS="80"> &&results</TEXTAREA></FONT></TD>
  </TR>
  <TR>
    <TD NOWRAP align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      <INPUT TYPE="radio" NAME="choice" VALUE="stop"> Stop the Notification Server</FONT></TD>
    <TD ALIGN='center'>
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> 
      <INPUT TYPE="submit" NAME="submit" VALUE="Submit">
      &nbsp;&nbsp;&nbsp;
      <INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></FONT>
    </TD>
  </TR>
  <TR>
    <TD NOWRAP align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      <INPUT TYPE="radio" NAME="choice" VALUE="start"> Start the Notification Server
      </FONT></TD>
    <TD ALIGN='center'>
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> 
      <INPUT TYPE="submit" NAME="submit" VALUE="Submit">
      &nbsp;&nbsp;&nbsp;
      <INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></FONT></TD>
  </TR>
  <TR>
    <TD NOWRAP align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      <INPUT TYPE="radio" NAME="choice" VALUE="showstatus"> Show Status</FONT></TD>
    <TD ALIGN='center'>
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> 
      <INPUT TYPE="submit" NAME="submit" VALUE="Submit">
      &nbsp;&nbsp;&nbsp;
      <INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></FONT></TD>
  </TR>
  <TR>
    <TD NOWRAP align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      <INPUT TYPE="radio" NAME="choice" VALUE="showalerts"> Show Alert Details</FONT></TD>
    <TD ALIGN='center'>
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> 
      <INPUT TYPE="submit" NAME="submit" VALUE="Submit">
      &nbsp;&nbsp;&nbsp;
      <INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></FONT></TD>
  </TR>
  <TR>
    <TD NOWRAP align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      <INPUT TYPE="radio" NAME="choice" VALUE="clearalert"> Clear
      <INPUT TYPE="radio" NAME="choice" VALUE="ackalert"> Ack
      <INPUT TYPE="radio" NAME="choice" VALUE="nakalert"> Nak
      &nbsp;&nbsp;Send ID: <INPUT TYPE="text" NAME="send_id" SIZE="5" MAXLENGTH="12">
      </FONT>
    </TD>
    <TD ALIGN='center'>
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> 
      <INPUT TYPE="submit" NAME="submit" VALUE="Submit">
      &nbsp;&nbsp;&nbsp;
      <INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></FONT></TD>
  </TR>
  <TR>
    <TD NOWRAP align="left">
      <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      &nbsp;View one of the following LOG files:
      <BR>
      <BR>
      &&tracefilesList </FONT></TD>
    <TD>
      &nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
</TABLE>
</FORM>
</BODY>
</HTML>
