<HTML>
<HEAD>
<TITLE>List of Notification Servers</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK REL="stylesheet" HREF="/styles.css">
</HEAD>

<BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">
<TABLE width="500" border="0" cellspacing="4" cellpadding="0" align="left">
  <TR>
    <TD NOWRAP COLSPAN="2" ALIGN="left">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"> Select a Notification Server to Manage: </FONT></TD>
  </TR>
&&notifHostsList
</TABLE>
</BODY>
</HTML>
