  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Scout:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&scout_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Destination:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&destination_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">URL:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&llurl_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Service state:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
      <SELECT NAME="servicestate">
      <OPTION  VALUE="WARNING">WARNING
      <OPTION  VALUE="OK">OK
      <OPTION  VALUE="CRITICAL">CRITICAL
      <OPTION  VALUE="UNKNOWN">UNKNOWN
      </SELECT></FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Output:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    <INPUT TYPE="text" NAME="output" VALUE="This is the probe output" SIZE="50" MAXLENGTH="1024"></FONT></TD>
  </TR>


  &&llurl_buttons
