<HTML>
<HEAD>
<TITLE>Notification Server Test Form</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK REL="stylesheet" HREF="/styles.css">
</HEAD>

<BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">
<FORM METHOD="GET" ACTION="&&myurl">
<TABLE width="500" border="0" cellspacing="4" cellpadding="0" align="center">
  <!-- Customer Subform -->
  &&customer_subform
  <!-- End Customer Subform -->

  <!-- Probe Subform -->
  &&probe_subform
  <!-- End Probe Subform -->

</TABLE>
<!-- Hidden Fields -->
&&hidden_fields
<!-- End Hidden Fields -->
</FORM>
</BODY>
</HTML>
