
  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Destination:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&destination_select</FONT></TD>
  </TR>

  
  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">OR</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &nbsp;</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Email address:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    <INPUT TYPE="text" NAME="email" VALUE="" SIZE="50"></FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Message:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    <INPUT TYPE="text" NAME="message" VALUE="This is the alert text" SIZE="50" MAXLENGTH="1024"></FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Subject (optional):</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    <INPUT TYPE="text" NAME="subject" SIZE="50" MAXLENGTH="1024"></FONT></TD>
  </TR>


  &&adhoc_buttons
