  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Spacewalk:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&satellite_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Destination:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&destination_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Host:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&host_select</FONT></TD>
  </TR>

  &&host_buttons
