  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Customer:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&customer_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Probe type:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&probetype_select</FONT></TD>
  </TR>

  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">Debug level:</FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
    &&debug_select</FONT></TD>
  </TR>
  &&customer_buttons

