<HTML>
<HEAD>
<TITLE>Pager Test</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK REL="stylesheet" HREF="/styles.css">
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<FORM METHOD="post" ACTION="pagertest.cgi?1">
  <P><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1"> Pager type:
&&pagertypes</FONT><BR>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1"> Pager PIN: </FONT>
    <INPUT TYPE="text" NAME="pagerPIN" SIZE="25" MAXLENGTH="25">
  </P>
  <P> 
    <INPUT TYPE="submit" NAME="submit" VALUE="Test It">
    &nbsp;&nbsp;&nbsp;
    <INPUT TYPE="RESET" NAME="reset" VALUE="Reset">
  </P>
</FORM>
</BODY>
</HTML>
