<html>
<head>
  <title>&&formType Redirect &&redirid for &&customer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" href="/styles.css">
</head>
  <body bgcolor="#FFFFFF"  link="#0000CC" vlink="#0000CC" alink="#0000CC">
  <form method="post" action="redirmgr.cgi">
    <input type="hidden" name="redirid" value="&&redirid">
    <input type="hidden" name="f" value="2">
    <input type="hidden" name="cid" value="&&cid">

    <table width="100%" border="0" cellspacing="4" cellpadding="0" align="center" cols="4">
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Description:</font></td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
          <input type="text" name="description" value="&&description" size="25" maxlength="25">
          </font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        responsible contact:</font></td>
        <td COLSPAN="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
        &&contacts</font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        alert redirect type:</font></td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&&optypes</font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Reason:</font></td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
        <textarea NAME="reason" ROWS="5" COLS="75">&&reason</textarea>
          </font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Email 
        destinations (comma separated): </font></td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
          <input type="text" name="emails" value="&&emails" size="50" maxlength="50">
          </font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        redirect start:</font></td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
        &&startMonth &&startDay &&startYear &&startHour &&startMin &&startSec</font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        redirect expiration:</font></td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
        &&expireMonth &&expireDay &&expireYear &&expireHour &&expireMin &&expireSec</font></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        redirect contact methods (5 max. allowed):</font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
        &&methods</font></td>
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        redirect contact groups (5 max. allowed):</font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
        &&groups</font></td>
      </tr>
      <tr valign="top">
        <td bgcolor="#EEEEEE" nowrap align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Select 
        redirect criteria:</font></td>
        <td colspan="3">
                &&match_types
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="3"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
          <input type="submit" name="submit" value="Submit">
          &nbsp;&nbsp;&nbsp;
          <input type="reset" name="reset" value="Reset">
          </font></td>
      </tr>
    </table>

    &nbsp; &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="redirmgr.cgi?f=1&cid=&&cid">Create 
    a new Redirect &nbsp;</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href="redirmgr.cgi?f=0&cid=&&cid">View 
    the Redirect summary report &nbsp;</a></font>
  </form>
  </body>
</html>
