<HTML>
<HEAD>
<TITLE>Select a Customer to Create Redirects</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK REL="stylesheet" HREF="/styles.css">
</HEAD>

<BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">
<FORM METHOD="post" ACTION="redirmgr.cgi">
<INPUT TYPE="hidden" NAME="f" VALUE="0">
<TABLE width="500" border="0" cellspacing="4" cellpadding="0" align="center">
  <TR>
    <TD bgcolor="#EEEEEE" NOWRAP align="right">
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1"> Select a Customer: </FONT></TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">
    &&cid</FONT></TD>
  </TR>
  <TR>
    <TD>&nbsp;</TD>
    <TD>
    <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="1">
    <INPUT TYPE="submit" NAME="submit" VALUE="Submit">
    &nbsp;&nbsp;&nbsp;
    <INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></FONT></TD>
  </TR>
</TABLE>
</FORM>
</BODY>
</HTML>
