*.swp
*.swo
*.bak
*.pyc
*.pyo
*.src.rpm
*.git.*.rpm
java/build
java/lib
java/*.log
java/*.log.*
java/buildconf/builder/config/local
java/.classpath
java/.externalToolBuilders
java/.project
java/.settings/*
java/conf/eclipse/bin
java/conf/eclipse/.project
thrift/gen-*
web/rpm-build
web/rhn-web-*.tar.gz
java/rhnwebapp
java/velocity.log*
search-server/.classpath
search-server/.project
*~
.project
.pydevproject
web/html/css
web/html/img
web/html/pub
web/html/templates
java/*.jar
java/*.txt
java/*.out
web/html/bootstrap/

