*.swp
*.bak
*.pyc
*.src.rpm
java/build
java/lib
java/*.log
java/*.log.*
java/buildconf/builder/config/local
java/.classpath
java/.externalToolBuilders
java/.project
java/.settings/*
java/conf/eclipse/bin
thrift/gen-*
web/rpm-build
web/rhn-web-*.tar.gz
java/rhnwebapp
java/velocity.log*
