*.swp
*.swo
*.bak
*.pyc
*.pyo
*.src.rpm
*.git.*.rpm
java/build
java/lib
java/*.log
java/*.log.*
java/buildconf/builder/config/local
java/buildconf/tempjars/*
java/.checkstyle
java/.classpath
java/.externalToolBuilders
java/.pmd
java/.project
java/.settings/*
java/conf/eclipse/bin
java/conf/eclipse/.project
java/rhnwebapp
java/velocity.log*
java/*.jar
java/*.txt
java/*.out
thrift/gen-*
search-server/spacewalk-search/.classpath
search-server/spacewalk-search/.project
search-server/spacewalk-search/build
search-server/spacewalk-search/lib
search-server/spacewalk-search/dist
search-server/spacewalk-search/rhn-search.pid
search-server/spacewalk-search/rhn_search_daemon.log
*~
.project
.pydevproject
.zanata-cache
web/html/css
web/html/img
web/html/pub
web/html/templates
web/html/bootstrap/
web/rpm-build
web/rhn-web-*.tar.gz
sqlnet.log
