
policy_module(jabberworkaround, @@VERSION@@)

require {
	type jabberd_t;
	class process setfscreate;
	class netlink_route_socket { write getattr read bind create nlmsg_read };
}

#============= jabberd_t ==============
allow jabberd_t self:netlink_route_socket { write getattr read bind create nlmsg_read };
allow jabberd_t self:process setfscreate;
kerberos_use(jabberd_t)
miscfiles_manage_cert_dirs(jabberd_t)
miscfiles_manage_cert_files(jabberd_t)
seutil_read_file_contexts(jabberd_t)
seutil_search_default_contexts(jabberd_t)
