Source: rhncfg
Section: python
Priority: extra
Maintainer: Marcelo Moreira de Mello <mmello@redhat.com>
Build-Depends: python, docbook-utils, debhelper (>= 7.0.50~)
Build-Depends-Indep: python-support (>= 0.8)
Standards-Version: 3.9.1
Homepage: https://fedorahosted.org/spacewalk

Package: rhncfg
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-rhnlib (>= 2.5.40), rhn-client-tools
Recommends: apt-spacewalk
Description: Red Hat Network Configuration Management Client is some tools
 which provides a interface used to communicate against configuration channels.
