policy_module(spacewalk-proxy,@@VERSION@@)

require {
	type httpd_t;
	type http_cache_port_t;
	type rhnsd_conf_t;
}

type spacewalk_log_t;
logging_log_file(spacewalk_log_t);
type spacewalk_proxy_httpd_log_t;
logging_log_file(spacewalk_proxy_httpd_log_t);

type spacewalk_proxy_cache_t;
files_type(spacewalk_proxy_cache_t);
type spacewalk_proxy_data_t;
files_type(spacewalk_proxy_data_t);

filetrans_pattern(httpd_t, spacewalk_log_t, spacewalk_proxy_httpd_log_t, file)
create_files_pattern(httpd_t, spacewalk_log_t, spacewalk_proxy_httpd_log_t)
append_files_pattern(httpd_t, spacewalk_log_t, spacewalk_proxy_httpd_log_t)

manage_files_pattern(httpd_t, spacewalk_proxy_cache_t, spacewalk_proxy_cache_t)
manage_files_pattern(httpd_t, spacewalk_proxy_data_t, spacewalk_proxy_data_t)
manage_dirs_pattern(httpd_t, spacewalk_proxy_data_t, spacewalk_proxy_data_t)

allow httpd_t http_cache_port_t:tcp_socket name_connect;
allow httpd_t rhnsd_conf_t:file { getattr open read };
