<html>
<head><title>Running on @@hostname@@</title></head>
<body>

This script is run from @@hostname@@ and the value is @@foobar()=RRR@@ by default.
%25%25%25@@%40%40

hostname:
@@rhn.system.hostname()@@

ipaddr:
@@rhn.system.ip_address@@

description:
@@rhn.system.description@@

sid:
@@rhn.system.sid@@

network interface:
ipaddr eth0 -- @@rhn.system.net_interface.ip_address(eth0)@@
netmask eth0 -- @@rhn.system.net_interface.netmask(eth0)@@
broadcast eth0 -- @@rhn.system.net_interface.broadcast(eth0)@@
hwaddr eth0 -- @@rhn.system.net_interface.hardware_address(eth0)@@
module eth0 -- @@rhn.system.net_interface.driver_module(eth0)@@

ipaddr lo -- @@rhn.system.net_interface.ip_address(lo)@@


custom info:
foo -- @@rhn.system.custom_info(foo)@@
no_such_value -- @@rhn.system.custom_info(no_such_value)=No such value@@

</body>
</html>

