/*
 * Bodies
 */
body {
    font-size: 12pt;
    font-family: sans-serif;
    margin: 1em;
}

.navigationframe a {
    display: block;
}

/*
 * Menus
 * contextbar - main menu on the top of the page
 * subcontextbar - sometimes shown menu under contextbar
 * footer - footnote on each page
 */
div {
    padding: 1em;
}

.contextbar {
    background-color: #ccd;
    margin-left: -1em;
    margin-right: -1em;
}

.subcontextbar {
    background-color: #ccf;
    margin-left: -1em;
    margin-right: -1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.footer {
    margin-top: 2em;
    font-size: 80%;
    border: 1px solid #888;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    color: #888;
}

img.erd {
    border: 1px solid black;
}

/*
 * Headings
 */

h1 {
    font-size: 200%;
}
h2 {
    font-size: 160%;
}
h3 {
    font-size: 140%;
}

/*
 * Table formatting
 */
table {
    margin-bottom: 1em;
    min-width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background-color: #CCF;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

td {
    background-color: #FFF;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

/*
 * syntax higlighting
 */

pre {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    background-color: #fbfbfb;
}

.comment {
    color: #909090;
    font-style: italic;
}

.string {
    color: #990000;
}

.keyword {
    color: navy;
    font-weight: bold;
}

.reserved {
    color: #009900;
    font-weight: bold;
}

.operator {
    font-weight: bold;
    color: orange;
}

.lineno {
    font-weight: normal;
    color: #white;
    background-color: #808080;
    font-style: normal;
}

