#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<oval_definitions xmlns="http://oval.mitre.org/XMLSchema/oval-definitions-5" xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5" xmlns:oval-def="http://oval.mitre.org/XMLSchema/oval-definitions-5" xmlns:unix-def="http://oval.mitre.org/XMLSchema/oval-definitions-5#unix" xmlns:red-def="http://oval.mitre.org/XMLSchema/oval-definitions-5#linux" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://oval.mitre.org/XMLSchema/oval-common-5 oval-common-schema.xsd http://oval.mitre.org/XMLSchema/oval-definitions-5 oval-definitions-schema.xsd http://oval.mitre.org/XMLSchema/oval-definitions-5#unix unix-definitions-schema.xsd http://oval.mitre.org/XMLSchema/oval-definitions-5#linux linux-definitions-schema.xsd">
  <generator>
    <oval:product_name>Red Hat Errata System</oval:product_name>
    <oval:schema_version>5.0</oval:schema_version>
    <oval:timestamp>$timestamp</oval:timestamp>
  </generator>

  <definitions>
    <definition id="oval:$ovalnamespace:def:$ovalid" version="$ovalversion" class="patch">
      <metadata>
        <title>
	#if $security_impact
	  $advisory_name:$synopsis ($security_impact)
	#end if	
	</title>
  	<affected family="unix">
        #for $a in $ovalplatforms.split("\n")
   	  <platform>"$a"</platform>
	#end for
        </affected>
        <reference source="$errata_type" ref_id="$advisory_name-$pushcount" ref_url="https://rhn.redhat.com/errata/${advisory_name.replace(':','-')}.html"/>
	<description>$description</description>

<!-- ~~~~~~~~~~~~~~~~~~~~   advisory details   ~~~~~~~~~~~~~~~~~~~ -->

        <advisory from="secalert@redhat.com">
	#if $security_impact
          <severity>$security_impact</severity>
	#end if
          <rights>Copyright $update_date[:4] Red Hat, Inc.</rights>
          <issued date="$issue_date"/>
          <updated date="$update_date"/>
        #for $a in $groups 
          <group name="$a"/>
	#end for
     #if $cve
    	#for $c in $cve
         <cve href="http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=$c">$c</cve>
    	#end for
    #end if
    #for $b in $bugs
        #if $b.private
        <bugzilla href="http://bugzilla.redhat.com/$b.id" id="$b.id">$b.summary</bugzilla>
        #end if
   #end for
	</advisory>
      </metadata>
      $ovalcriteria
    </definition>
  </definitions>
  <tests>
    <!-- ~~~~~~~~~~~~~~~~~~~~~   rpminfo tests   ~~~~~~~~~~~~~~~~~~~~~ -->
    $ovalrpmtests
  </tests>
  <objects>
    <!-- ~~~~~~~~~~~~~~~~~~~~   rpminfo objects   ~~~~~~~~~~~~~~~~~~~~ -->
    $ovalrpmobjects
  </objects>
  <states>
    <!-- ~~~~~~~~~~~~~~~~~~~~   rpminfo states   ~~~~~~~~~~~~~~~~~~~~~ -->
    $ovalrpmstates
  </states>
</oval_definitions>
