policy_module(spacewalk,@@VERSION@@)

require {
	type httpd_t;
	type restorecon_t;
	type fs_t;
	type unconfined_t;
	type rpm_t;
}

type spacewalk_install_log_t;

allow httpd_t spacewalk_install_log_t:file { append ioctl };
allow restorecon_t spacewalk_install_log_t:file { getattr relabelto };

allow spacewalk_install_log_t fs_t:filesystem associate;

allow unconfined_t spacewalk_install_log_t:file { getattr write append ioctl };

allow rpm_t spacewalk_install_log_t:file { getattr append ioctl };
