policy_module(spacewalk,@@VERSION@@)

## <desc>
## <p>
## Allow Spacewalk to work with data (/var/satellite) stored
## on NFS-mounted directories.
## </p>
## </desc>
gen_tunable(spacewalk_nfs_mountpoint,false)

require {
	type httpd_t;
	type restorecon_t;
	type httpd_sys_script_t;
	type httpd_log_t;
	type java_t;
	type initrc_t;
	type oracle_port_t;
	type system_mail_t;
	type nfs_t;
}

type spacewalk_install_log_t;
logging_log_file(spacewalk_install_log_t);
type spacewalk_log_t;
logging_log_file(spacewalk_log_t);
type spacewalk_httpd_log_t;
logging_log_file(spacewalk_httpd_log_t);
type spacewalk_data_t;
files_type(spacewalk_data_t);
type spacewalk_cache_t;
files_type(spacewalk_cache_t);

allow httpd_t spacewalk_install_log_t:file { append ioctl };
allow restorecon_t spacewalk_install_log_t:file { append };

allow httpd_t self:process { execheap };

dontaudit httpd_sys_script_t httpd_log_t:file { ioctl };

type spacewalk_initrc_exec_t;
domain_entry_file(initrc_t, spacewalk_initrc_exec_t)

domain_auto_trans(java_t, spacewalk_initrc_exec_t, initrc_t)
allow restorecon_t spacewalk_initrc_exec_t:file { relabelto getattr };

allow httpd_t oracle_port_t:tcp_socket name_connect;

filetrans_pattern(httpd_t, spacewalk_log_t, spacewalk_httpd_log_t, file)
manage_files_pattern(httpd_t, spacewalk_log_t, spacewalk_httpd_log_t)

manage_files_pattern(httpd_t, spacewalk_data_t, spacewalk_data_t)
manage_lnk_files_pattern(httpd_t, spacewalk_data_t, spacewalk_data_t)
manage_dirs_pattern(httpd_t, spacewalk_data_t, spacewalk_data_t)
read_lnk_files_pattern(restorecon_t, spacewalk_data_t, spacewalk_data_t)

dontaudit system_mail_t httpd_t:file read;

manage_files_pattern(httpd_t, spacewalk_cache_t, spacewalk_cache_t)
manage_dirs_pattern(httpd_t, spacewalk_cache_t, spacewalk_cache_t)

tunable_policy(`spacewalk_nfs_mountpoint',`
	manage_files_pattern(httpd_t, nfs_t, nfs_t)
	manage_lnk_files_pattern(httpd_t, nfs_t, nfs_t)
	manage_dirs_pattern(httpd_t, nfs_t, nfs_t)
	read_lnk_files_pattern(restorecon_t, nfs_t, nfs_t)
')
