<html><title>Telemetry - Report Details</title>
<body>
<H1>Report Details</H1>

<table border=1 cellspacing=4 cellpadding=4>
<tr><td>Report Name:</td><td>{{parameters.Name}}</td></tr>
<tr><td>Report Description:</td><td>{{parameters.Description}}</td></tr>
<tr><td>Report Script:</td><td>{{parameters.Report_Script}}</td></tr>
<tr><td>Report Directory:</td><td>{{parameters.Report_Dir}}</td></tr>
<tr><td>Report Prefix:</td><td>{{parameters.Report_Name}}</td></tr>
<tr><td>Satellites:</td><td>
{% for satellite in parameters.Satellites %}
{{satellite}}<br>
{% endfor %}</td></tr>
<tr><td>Aggregate Data:</td><td>{{parameters.Aggregate}}</td></tr>
<tr><td>Templates:</td><td>
{% for template in parameters.Templates.items %}
{{template.1}}<br>
{% endfor %}</td></tr>
<form method="Post" action="../reportresults/">
<tr><td valign="top">Scheduled:</td><td>
{% for cron in crons %}
{{cron.0}} &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" name="delete" value="{{cron.1}}">Delete</button><br>
{% endfor %}
&nbsp;

</td></tr>
</table>
<br>
<br>

<input type="hidden" name="config" value={{config}}>
<table>
<tr><td>Username:</td><td><input type="text" name="username" length=8></td></tr>
<tr><td>Password:</td><td><input type="password" name="password" length=8></td></tr>
<tr><td></td><td></td></tr>
{% for criterion in parameters.Criteria %}
<tr><td valign=top>{{criterion.name}}:</td><td><textarea name="{{criterion.label}}" cols={{criterion.cols}} rows={{criterion.rows}}></textarea></td></tr>
{% endfor %}
</table><br>



{% for template in parameters.Templates %}
<input type="radio" name="type" value={{template}} checked>{{template}}<br>
{% endfor %}<br>
<button type="submit">Run Report</button>
<p>
<hr width=25% align="left">
<p>
<table>
<tr><td>Frequency:</td><td><select><option>Daily</option></select></td></tr>
<tr><td>@</td></tr>
<tr><td>Hour:</td><td><input type="text" name="hour" size=4></td></tr>
<tr><td>Minute:</td><td><input type="text" name="minute" size=4></td></tr>
</table><br>
<button type="submit" name="schedule" value="1">Schedule</button>
</form>
</body>
</html>