AuthType Basic
AuthName "RHN System Group List"

PerlModule PXT::ApacheHandler
PerlModule PXT::ApacheAuth
PerlAuthenHandler PXT::ApacheAuth
require acl org_entitlement(sw_mgr_enterprise)

<Files details.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_has_access_to_servergroup()
</Files>

<Files create.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_role(system_group_admin)
</Files>

<Files admin_list.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_role(system_group_admin)
  require acl user_has_access_to_servergroup()
</Files>


<Files delete_confirm.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_role(system_group_admin)
  require acl user_has_access_to_servergroup()
</Files>

<Files edit_properties.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_role(system_group_admin)
  require acl user_has_access_to_servergroup()
</Files>

<Files system_list.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_has_access_to_servergroup()
</Files>

<Files errata_list.pxt>
  AuthType Basic
  AuthName "RHN System Group Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth
  require acl user_has_access_to_servergroup()
</Files>
