<Files RHN-channel-mgmt-en.pdf>
  AuthType Basic
  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

</Files>


<Files RHN-unix.pdf>
  AuthType Basic
  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

  require acl user_authenticated(); org_entitlement(rhn_nonlinux)
</Files>


<Files rhn-enterprise-urg-en.pdf>
  AuthType Basic
  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

  require acl user_authenticated(); org_entitlement(sw_mgr_enterprise)
</Files>


<Files RHN-proxy-en.pdf>
  AuthType Basic
  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

</Files>


<Files RHN-satellite-en.pdf>
  AuthType Basic
  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

</Files>

<Files RHN-client-config-en.pdf>
  AuthType Basic
  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

</Files>


<Files *.html>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler
</Files>

PerlSetVar pxt_make_vile off

