[Unit]
Description=Spacewalk
Requires=jabberd.service
Requires=tomcat.service
Requires=spacewalk-wait-for-tomcat.service
Requires=httpd.service
Requires=spacewalk-wait-for-jabberd.service
Requires=osa-dispatcher.service
Requires=Monitoring.service
Requires=MonitoringScout.service
Requires=rhn-search.service
Requires=cobblerd.service
Requires=taskomatic.service

[Install]
WantedBy=multi-user.target
