[Unit]
Description=Spacewalk wait for tomcat
After=tomcat.service
Before=httpd.service
ConditionPathExists=!/var/run/spacewalk-wait-for-tomcat-disable

[Service]
ExecStart=/usr/sbin/spacewalk-startup-helper wait-for-tomcat
Type=oneshot
