
AuthName mod_perl
AuthType Basic
PerlAuthenHandler Apache::AuthenTest
PerlAuthzHandler Apache::OK
require valid-user

#<Perl>
#$AuthName = "mod_perl";
#$AuthType = "Basic";
#$PerlAuthenHandler = "Apache::AuthenTest";
#$require = "valid-user";
#</Perl>

