policy_module(oracle-rhnsat,@@VERSION@@)

require {
	type initrc_t;
	type oracle_db_t;
	type oracle_db_log_t;
	type oracle_sqlplus_t;
	type initrc_tmp_t;
	type oracle_tnslsnr_t;
	type oracle_tnslsnr_log_t;
	type oracle_lsnrctl_t;
};

# Type for common, read-only directories
type oracle_dir_t;
files_type(oracle_dir_t);
type oracle_common_log_t;
files_type(oracle_common_log_t);
type oracle_common_file_t;
files_type(oracle_common_file_t);

# Allow db-control to feed sqlplus with input on stdin and read stdout
allow oracle_db_t initrc_t:fifo_file { read write ioctl };

# Allow reading the dbs symlink
allow oracle_db_t oracle_db_log_t:lnk_file { read };

# Allow database and sqlplus to walk these directories
allow oracle_db_t oracle_dir_t:dir search_dir_perms;
allow oracle_sqlplus_t oracle_dir_t:dir search_dir_perms;

# Allow both sqlplus and db to log to these directories
create_files_pattern(oracle_db_t, oracle_common_log_t, oracle_common_log_t)
append_files_pattern(oracle_db_t, oracle_common_log_t, oracle_common_log_t)
create_files_pattern(oracle_sqlplus_t, oracle_common_log_t, oracle_common_log_t)
append_files_pattern(oracle_sqlplus_t, oracle_common_log_t, oracle_common_log_t)

# Allow listener to append to common logs
append_files_pattern(oracle_tnslsnr_t, oracle_common_log_t, oracle_common_log_t)
append_files_pattern(oracle_lsnrctl_t, oracle_common_log_t, oracle_common_log_t)

# Allow listener to log to oracle_common_log_t, while keeping its own type
filetrans_pattern(oracle_tnslsnr_t, oracle_common_log_t, oracle_tnslsnr_log_t, { file dir })
create_files_pattern(oracle_tnslsnr_t, oracle_common_log_t, oracle_tnslsnr_log_t)
create_dirs_pattern(oracle_tnslsnr_t, oracle_common_log_t, oracle_tnslsnr_log_t)

# Allow both sqlplus and db to read this file
read_files_pattern(oracle_db_t, oracle_dir_t, oracle_common_file_t)
read_files_pattern(oracle_sqlplus_t, oracle_dir_t, oracle_common_file_t)

# Allow sqlplus and db to read from initrc_tmp_t
allow oracle_db_t initrc_tmp_t:file { read ioctl };
allow oracle_sqlplus_t initrc_tmp_t:file { read getattr ioctl };

