policy_module(oracle-rhnsat,@@VERSION@@)

require {
	type initrc_t;
	type oracle_db_t;
	type oracle_db_log_t;
	type oracle_sqlplus_t;
};

# Type for common, read-only directories
type oracle_dir_t;
files_type(oracle_dir_t);

# Allow db-control to feed sqlplus with input on stdin and read stdout
allow oracle_db_t initrc_t:fifo_file { read write ioctl };

# Allow reading the dbs symlink
allow oracle_db_t oracle_db_log_t:lnk_file { read };

# Allow database and sqlplus to walk these directories
allow oracle_db_t oracle_dir_t:dir search_dir_perms;
allow oracle_sqlplus_t oracle_dir_t:dir search_dir_perms;
