Source: python-rhn-client-tools
Section: python
Priority: extra
Maintainer: Šimon Lukašík <xlukas08@stud.fit.vutbr.cz>
Build-Depends: python, debhelper (>= 7.0.50~), intltool
Build-Depends-Indep: python-support (>= 0.8)
Standards-Version: 3.9.1
Homepage: https://fedorahosted.org/spacewalk

Package: python-rhn-client-tools
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-rhnlib (>= 2.5.40),
 python-ethtool, python-dbus, python-apt (>= 0.7.100), python-newt,
 python-dmidecode, lsb-release, gnupg, hal
Provides: ${python:Provides}, rhn-client-tools, rhn-check, rhn-setup,
 rhn-setup-gnome
Recommends: apt-spacewalk
Description: Red Hat Network Client Tools provides programs
 and libraries to allow your system to receive software
 updates from Red Hat Network or Spacewalk.

