#!/usr/bin/make -f
# -*- makefile -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
params=-f Makefile.rhn-client-tools PLATFORM=deb PREFIX=$(CURDIR)/debian/python-rhn-client-tools

override_dh_auto_clean:
	$(MAKE) $(params) clean
override_dh_auto_build:
	dh_auto_build -- $(params)
override_dh_auto_install:
	$(MAKE) $(params) install

%:
	dh $@ --with python2

