[Unit]
Description=daemon that a provides remote cobbler API and status tracking
After=network.target xinetd.service httpd.service

[Service]
ExecStart=/usr/bin/cobblerd --no-daemonize
PrivateTmp=yes
KillMode=process

[Install]
WantedBy=multi-user.target
