AuthType Basic
AuthName "RHN Channel Admin Area"

PerlModule PXT::ApacheHandler
PerlModule PXT::ApacheAuth
PerlAuthenHandler PXT::ApacheAuth
require acl user_role(channel_admin)

PerlSetVar errata_context manage

<Files list>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler
</Files>
