Example of a complete file that describes one node
with no VIPs:
 
---------- cut here ---------------
PhysNode.1.IpAddr.1.addr=172.16.101.223
PhysNode.1.IpAddr.1.dev=eth0
PhysNode.1.IpAddr.1.gate=172.16.0.1
PhysNode.1.IpAddr.1.mask=16
PhysNode.1.PrivateIpAddr.0.dev=lo
nameservers=192.168.0.201 192.168.1.201
nssearchpath=lab.nocpulse.net nocpulse.net
smonaddr=172.16.100.23
smontestaddr=172.16.100.23
sshaddr=0.0.0.0
sshmask=0.0.0.0
smonfqdn=smon.dev.nocpulse.net
smontestfqdn=smon.dev.nocpulse.net
sshfqdn=smon.dev.nocpulse.net
haFailoverEnabled=0
superSputEnabled=1
---------- cut here ---------------
 
Here's an example of a two node cluster
with ha failover enabled (using a VIP):
 
---------- cut here ---------------
PhysNode.1.IpAddr.1.addr=172.16.101.223
PhysNode.1.IpAddr.1.dev=eth0
PhysNode.1.IpAddr.1.gate=172.16.0.1
PhysNode.1.IpAddr.1.mask=16
PhysNode.1.PrivateIpAddr.0.dev=eth2
PhysNode.2.IpAddr.1.addr=172.16.101.224
PhysNode.2.IpAddr.1.dev=eth0
PhysNode.2.IpAddr.1.gate=172.16.0.1
PhysNode.2.IpAddr.1.mask=16
PhysNode.2.PrivateIpAddr.0.dev=eth2
VIP.1.addr=172.16.101.225
VIP.1.dev=eth0
VIP.1.gate=172.16.0.1
VIP.1.mask=16
VIP.1.network=172.16.0.0
nameservers=192.168.0.201 192.168.1.201
nssearchpath=lab.nocpulse.net nocpulse.net
smonaddr=172.16.100.23
smontestaddr=172.16.100.23
sshaddr=0.0.0.0
sshmask=0.0.0.0
smonfqdn=smon.dev.nocpulse.net
smontestfqdn=smon.dev.nocpulse.net
sshfqdn=smon.dev.nocpulse.net
haFailoverEnabled=1
superSputEnabled=1
---------- cut here ---------------
