config_opts['root'] = 'spacewalk-fedora22'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
config_opts['dist'] = 'fc22'  # only useful for --resultdir variable subst
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['releasever'] = '22'

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos

[fedora]
name=fedora
metalink=https://mirrors.fedoraproject.org/metalink?repo=fedora-22&arch=x86_64
failovermethod=priority
gpgkey=https://getfedora.org/static/8E1431D5.txt
gpgcheck=1
exclude=quartz

[updates]
name=updates
metalink=https://mirrors.fedoraproject.org/metalink?repo=updates-released-f22&arch=x86_64
failovermethod=priority
gpgkey=https://getfedora.org/static/8E1431D5.txt
gpgcheck=1

[jpackage-generic]
name=JPackage generic
mirrorlist=http://www.jpackage.org/mirrorlist.php?dist=generic&type=free&release=5.0
enabled=1
gpgkey=http://www.jpackage.org/jpackage.asc
gpgcheck=1

[spacewalk-nightly]
name=Spacewalk nightly
baseurl=http://yum.spacewalkproject.org/nightly/Fedora/22/x86_64/
enabled=1
gpgcheck=0
exclude=spacewalk-backend-sql-oracle

[spacewalk-nightly-client]
name=Spacewalk nightly client
baseurl=http://yum.spacewalkproject.org/nightly-client/Fedora/22/x86_64/
enabled=1
gpgcheck=0

"""
