include(`rhnora.m4')

--
-- 9i to 10gR2 embedded db upgrade template
--


spool RHNORA_CREATELOG(RHNORA_DBNAME-9i-10g-upgrade) replace
set echo on
set term on
set pagesize 10000
-- don't set serveroutput on otherwise you will get a lot of PLS-00213 errors
--set serveroutput on
whenever sqlerror exit failure
whenever oserror  exit failure

connect / as sysdba
create spfile from pfile='upgrade-init@.ora';
startup upgrade

alter session set nls_date_format = 'YYYY-MM-DD HH24:MI:SS';

select sysdate, 'Create SYSAUX tablespace' message from dual;
create tablespace sysaux datafile
        'RHNORA_DATA_PATH()/sysaux.dbf' size RHNORA_SPACE(250)M reuse
	extent management local segment space management auto online;

-- ignore errors in oracle provided files
whenever sqlerror continue

-- do upgrade
select sysdate, 'rdbms/admin/catupgrd.sql' script from dual;
@?/rdbms/admin/catupgrd.sql

-- show summary
@?/rdbms/admin/utlu102s.sql

-- invalidate all db objects
select sysdate, 'Invalidating packages' message from dual;
@?/rdbms/admin/utlirp.sql

shutdown immediate
startup restrict

-- recompile all db stuff incl. java stored procs
select sysdate, 'Recompiling packages' message from dual;
@?/rdbms/admin/utlrp.sql

whenever sqlerror exit failure
set serveroutput on
-- perform migration of DICTIONARY to LOCAL managed tablespaces
begin
  for t in (select tablespace_name from dba_tablespaces
	     where extent_management = 'DICTIONARY')
  loop
    DBMS_SPACE_ADMIN.TABLESPACE_MIGRATE_TO_LOCAL(t.tablespace_name);
  end loop;
  for t in (select tablespace_name from dba_tablespaces
             where contents='PERMANENT'
	       and tablespace_name not in ('SYSTEM'))
  loop
    execute immediate 'alter tablespace ' || t.tablespace_name || ' offline';
  end loop;
  DBMS_SPACE_ADMIN.TABLESPACE_MIGRATE_TO_LOCAL('SYSTEM');
  for t in (select tablespace_name from dba_tablespaces
             where status = 'OFFLINE')
  loop
    execute immediate 'alter tablespace ' || t.tablespace_name || ' online';
  end loop;
end;
/

-- restart the instance to reinitialize the system parameters
shutdown immediate
startup

-- lock default users from 9i
select sysdate, 'Locking default 9i users' message from dual;
BEGIN
 FOR item IN ( SELECT USERNAME FROM DBA_USERS WHERE USERNAME IN (
   'DBSNMP', 'OUTLN', 'TSMSYS', 'ORACLE_OCM', 'DIP') )
 LOOP
   dbms_output.put_line('Locking and Expiring: ' || item.USERNAME);
   execute immediate 'alter user ' || item.USERNAME || ' password expire account lock' ;
 END LOOP;
END;
/

alter session set current_schema=RHNORA_DB_USER;
select 'rdbms/admin/utlxplan.sql' script from dual;
-- backup plan_table if exists
declare
 doesnt_exist exception;
 pragma exception_init(doesnt_exist, -00942);
begin
 execute immediate 'alter table plan_table rename to plan_table_9i';
exception
 when doesnt_exist then null;
end;
/
@?/rdbms/admin/utlxplan.sql

disconnect

connect / as sysdba
shutdown immediate

