<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>&&title</H1>

    &&command

    <H2>Instance definition:</H2>

    <FORM METHOD="GET" ACTION="&&myurl">
    <TABLE>

      <!-- Command parameter input-->
      <!--   Command line -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command line:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&commandline_raw</FONT></TD>
      </TR>
      <!--   Parameters -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Parameter values:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&param_inputs</FONT></TD>
      </TR>


      <!-- Timeout input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Timeout (seconds):</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&timeout</FONT></TD>
      </TR>

      <!-- Expiration date input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Expiration date:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&expdate</FONT></TD>
      </TR>

      <!-- Notification email -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Notification email (optional):</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&notify</FONT></TD>
      </TR>


      <!-- Notes input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Instance notes:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	<TEXTAREA NAME="cqi_notes" ROWS=5 COLS=80>&&notes</TEXTAREA></FONT></TD>
      </TR>


      <!-- Spacewalks input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Run on these satellites:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&satellites</FONT></TD>
      </TR>


      <!-- Nodes input -->
      <TR>
        <TD bgcolor="#EEEEEE" NOWRAP align="right">
        <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Run on these nodes:</FONT></TD>
        <TD>
        <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
        &&nodes</FONT></TD>
      </TR>


    </TABLE>


    <!-- Buttons -->
    &&buttons

    <!-- Hidden fields -->
    &&hidden

    </FORM>

  </BODY>

</HTML>

