<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>&&title</H1>

    &&command

    <H2>Instance definition:</H2>

    <FORM METHOD="GET" ACTION="&&myurl">
    <TABLE>

      <!-- Command parameter input-->
      <!--   Command line -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command line:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&commandline_raw</FONT></TD>
      </TR>
      <!--   Parameters -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Parameter values:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&param_inputs</FONT></TD>
      </TR>


      <!-- Timeout input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Timeout (seconds):</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&timeout</FONT></TD>
      </TR>

      <!-- Expiration date input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right"> <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Expire in minutes:</FONT> </TD>
	<TD> <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><INPUT TYPE="text" NAME="expiremin" SIZE="3" VALUE="&&expiremin"></FONT>  
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">hours:</FONT> 
        <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><INPUT TYPE="text" NAME="expirehours" SIZE="3" VALUE="&&expirehours"></FONT>  
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">days:</FONT> 
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><INPUT TYPE="text" NAME="expiredays" SIZE="3" VALUE="&&expiredays"></FONT> </TD> 
      </TR>

      <!-- Notification email -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Notification email (optional):</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&notify</FONT></TD>
      </TR>


      <!-- Notes input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Instance notes:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	<TEXTAREA NAME="cqi_notes" ROWS=5 COLS=80>&&notes</TEXTAREA></FONT></TD>
      </TR>


      <!-- Scouts input -->
      <TR align="top">
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Run on these sat clusters<br>(grouped by customer type,<br>sorted by customer):</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&clusters</FONT><BR><HR></TD>
      </TR>


      <!-- Nodes input -->
      <TR>
        <TD bgcolor="#EEEEEE" NOWRAP align="right">
        <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Run on these sat nodes<br>(sorted by sat cluster id):</FONT></TD>
        <TD>
        <FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
        &&nodes</FONT></TD>
      </TR>


    </TABLE>


    <!-- Buttons -->
    &&buttons

    <!-- Hidden fields -->
    &&hidden

    </FORM>

  </BODY>

</HTML>

