<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>&&title</H1>
    <FORM METHOD="GET" ACTION="&&myurl">
    <TABLE>

      <!-- Description input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command Description:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&description</FONT></TD>
      </TR>

      <!-- Command line input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command line:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&commandline</FONT></TD>
      </TR>

      <!-- Is command permanent or ephemeral?  -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command is:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&perm_select
	</FONT></TD>
      </TR>

      <!-- Effective user ID input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Effective userid:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&euid</FONT></TD>
      </TR>

      <!-- Effective group ID input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Effective group:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&egid</FONT></TD>
      </TR>

      <!-- Notes input -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command notes:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	<TEXTAREA NAME="cqc_notes" ROWS=5 COLS=80>&&notes</TEXTAREA></FONT></TD>
      </TR>
    </TABLE>

    <!-- Buttons -->
    &&buttons

    <!-- Hidden fields -->
    &&hidden

    </FORM>

  </BODY>

</HTML>

