<HTML>

  <HEAD>
    <TITLE>Welcome to Sputlite</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">
  <H1>Welcome to Sputlite</H1>
  <h3>&&subtitle</h3>

      <TABLE>
        <TR><TD>
          <FORM METHOD="GET" ACTION="&&myurl" NAME='one'>
            &&hidden
            <INPUT TYPE='hidden' NAME='page' VALUE='create_instance'>
            Execute command #: <INPUT TYPE='text' SIZE='5' NAME='command_id'>&nbsp;&nbsp;
            <INPUT TYPE='submit' VALUE='Bring It On!'><BR>
          </FORM>
        <TR><TD>
           &nbsp;
        </TD></TR>
        <TR><TD>
          <FORM METHOD="GET" ACTION="&&myurl" NAME='two'>
            <INPUT TYPE='hidden' NAME='page' VALUE='list'>
            &&hidden
            <INPUT TYPE='hidden' NAME='page' VALUE='create_instance'>
            Query command description (% for wildcard): <INPUT TYPE='text' NAME='search_desc'><br>
            command line (% for wildcard): <INPUT TYPE='text' SIZE='20' NAME='search_line'>&nbsp;&nbsp;
            <INPUT TYPE='submit' VALUE='Find Command!'><BR>
        </TD></TR>
        <TR><TD>
           &nbsp;
        </TD></TR>
        <TR><TD>
          <a HREF='&&myurl?page=new'>Create new command</a><br>
        </TD></TR>
        <TR><TD>
          <a HREF='&&myurl?page=list'>List all commands</a><br>
        </TD></TR>
        <TR><TD>
          <a HREF='&&myurl?page=query_exec_history'>Query execution history</a><br>
        </TD></TR>
        <TR><TD>
          <a HREF='&&myurl?page=logout'>Log out</a><br><br>
        </TD></TR>
      </TABLE>

    </FORM>
  </BODY>

</HTML>
