<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
    <META HTTP-EQUIV="refresh" CONTENT="&&refreshtime;URL=&&myurl">
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>Command</H1>
    <TABLE>

      <!-- Instance ID -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Instance ID:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&instance_id</FONT></TD>
      </TR>

      <!-- Description -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command Description:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&description</FONT></TD>
      </TR>

      <!-- Command line -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command line:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&commandline</FONT></TD>
      </TR>


      <!-- Instance notes -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Instance notes:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&cqi_notes</FONT></TD>
      </TR>


      <!-- Date submitted -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Date submitted:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&subdate</FONT></TD>
      </TR>

      <!-- Expiration date -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Expiration date:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&expdate</FONT></TD>
      </TR>
    </TABLE>

    <H1>Status</H1>

    <TABLE BORDER>
      <TH>Spacewalk</TH>
      <TH>Date Accepted</TH>
      <TH>Date Executed</TH>
      <TH>Execution Time</TH>
      <TH>Exit Status</TH>
      <TH>STDOUT</TH>
      <TH>STDERR</TH>
      <TH>Last update</TH>
      &&statusrows
    </TABLE>

    <I><A HREF='&&baseurl'>Execute more commands</A></I>


  </BODY>

</HTML>


