<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
    &&meta
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>Command</H1>
    <TABLE>

      <!-- Instance ID -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Instance Id:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&instance_id</FONT></TD>
      </TR>

      <!-- Description -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command Description:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
          &&description</FONT></TD>
      </TR>

      <!-- Command ID -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command Id:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
          <A HREF='&&baseurl?page=create_instance&command_id=&&commandid'> &&commandid</A></FONT></TD>
      </TR>

      <!-- Command line -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Command line:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&commandline</FONT></TD>
      </TR>


      <!-- Instance notes -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Instance notes:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&cqi_notes</FONT></TD>
      </TR>


      <!-- Date submitted -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Date submitted:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&subdate</FONT></TD>
      </TR>

      <!-- Expiration date -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Expiration date:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">
	&&expdate</FONT></TD>
      </TR>

      <!-- Timeout date -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="&&timeoutcolor">Timeout date:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="&&timeoutcolor">
	&&timeoutdate</FONT></TD>
      </TR>

      <!-- Current date -->
      <TR>
	<TD bgcolor="#EEEEEE" NOWRAP align="right">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="black">Current date:</FONT></TD>
	<TD>
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="black">
         &&currentdate</FONT></TD>
      </TR>
    </TABLE>

    <H1>Status</H1>
     
    <TABLE>
    <TR>
      <strong>
      <TD><font color="&&timeoutcolor">Pending:</font></TD>
         <TD><font color="&&timeoutcolor">&&pending %</font></TD>
      <TD><font color="&&timeoutcolor">Accepted:</font></TD>
        <TD><font color="&&timeoutcolor">&&accepted %</font></TD>
      <TD><font color="&&compcolor">Completed:</font></TD>
        <TD><font color="&&compcolor">&&completed %</font></TD>
      <TD><font color="&&failcolor">(Exit status error:</font></TD>
        <TD><font color="&&failcolor">&&failed % of total, &&failofcomp % of completed) </font></TD>
      </strong>
    </TR>
    </TABLE>
    

    <TABLE BORDER>
      <TH><a href="&&myurl&sortby=cluster_id">Cluster</A></TH>
      <TH><a href="&&myurl&sortby=node_id">Node</A></TH>
      <TH><a href="&&myurl&sortby=customer_id">Cust</A></TH>
      <TH><a href="&&myurl&sortby=date_accepted">Date Accepted</A></TH>
      <TH><a href="&&myurl&sortby=date_executed">Date Executed</A></TH>
      <TH><a href="&&myurl&sortby=execution_time">Exec Time</A></TH>
      <TH><a href="&&myurl&sortby=exit_status">Exit Status</A></TH>
      <TH><a href="&&myurl&sortby=stdout">STDOUT</A></TH>
      <TH><a href="&&myurl&sortby=stderr">STDERR</A></TH>
      &&statusrows
    </TABLE>

    <TABLE>
      <TR>
        <TD><A HREF='&&refreshurl'>&&refreshtext</A></TD>
        <TD><A HREF='&&downloadurl'>Download as csv</A></TD>
        <TD><A HREF='&&reporturl'>Show execution report</A></TD>
        <TD><A HREF='&&historyurl'>Query execution history<A></TD>
        <TD><A HREF='&&baseurl'>Execute another command</A></TD>
      </TR>
    </TABLE>
    <BR><BR>
    <TABLE>
      <TR>
        <TD COLSPAN="3"><STRONG><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="3" COLOR='black'>Execute SAME command:</FONT></STRONG></TD>
      </TR>
      <TR>
        <TD><A HREF="&&samecommand&&pendingparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='&&timeoutcolor'>Run SAME On Pending</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Never accepted)</FONT></TD> 
        <TD><A HREF="&&samecommand&&completedparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='&&compcolor'>Run SAME On Completed</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Succeeded and failed)</FONT></TD> 
        <TD><A HREF="&&samecommand&&failedparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='&&failcolor'>Run SAME On Failed</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Non-zero exit)</FONT></TD> 
      </TR>
      <TR>
        <TD><A HREF="&&samecommand&&acceptedparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>Run SAME On Accepted Only</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Never completed)</FONT></TD> 
        <TD><A HREF="&&samecommand&&succeededparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>Run SAME On Succeeded</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Zero exit status)</FONT></TD> 
        <TD><A HREF="&&samecommand&&totalparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>Run SAME On same list</FONT></A></TD> 
      </TR>
      <TR>
        <TD COLSPAN="3">&nbsp;</TD>
      </TR>
      <TR>
        <TD COLSPAN="3"><STRONG><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="3" COLOR='black'>Execute DIFFERENT command:</FONT></STRONG></TD>
      </TR>
      <TR>
        <TD><A HREF="&&differentcommand&&pendingparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='&&timeoutcolor'>Run DIFFERENT On Pending</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Never accepted)</FONT></TD> 
        <TD><A HREF="&&differentcommand&&completedparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='&&compcolor'>Run DIFFERENT On Completed</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Succeeded and failed)</FONT></TD> 
        <TD><A HREF="&&differentcommand&&failedparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='&&failcolor'>Run DIFFERENT On Failed</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Non-zero exit)</FONT></TD> 
      </TR>
      <TR>
        <TD><A HREF="&&differentcommand&&acceptedparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>Run DIFFERENT On Accepted Only</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Never completed)</FONT></TD> 
        <TD><A HREF="&&differentcommand&&succeededparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>Run DIFFERENT On Succeeded</FONT></A>&nbsp;&nbsp;<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>(Zero exit status),</FONT></TD> 
        <TD><A HREF="&&differentcommand&&totalparam"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR='black'>Run DIFFERENT On same list</FONT></A></TD> 
      </TR>
    </TABLE>

  </BODY>

</HTML>
