<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>SputLite Login</H1>

    <FONT COLOR=red>&&errs</FONT><P>

    Please log in with your Red Hat Command Center Admin username and password

    <FORM METHOD='POST' ACTION='&&myurl'>
    <TABLE>
	<TR>
	  <TD bgcolor="#EEEEEE" NOWRAP align="right"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">User Name:</FONT></TD>
	  <TD><INPUT TYPE='text' NAME='login'></TD>
	</TR>
	<TR>
	  <TD bgcolor="#EEEEEE" NOWRAP align="right"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2">Password:</FONT></TD>
	  <TD><INPUT TYPE='password' NAME='passwd'></TD>
	</TR>
	<TR>
	  <TD></TD><TD><INPUT TYPE=submit VALUE="Log In"></TD>
        </TR>
      </TABLE>
    </FORM>

  </BODY>

</HTML>


