<HTML>

  <HEAD>
    <TITLE>&&title</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>&&title</H1>
    <FORM METHOD="GET" ACTION="&&myurl">
    <!-- Output fields -->

    <!-- Query fields -->
    <TABLE>
       <TR><TD COLSPAN="3"> <h3>Select query parameters:</h3> </TD>
       </TR>
       <TR>
         &&query1 
       </TR>
       <TR>
         &&query2 
       </TR>
       <TR>
         &&query3 
       </TR>
       <TR>
         &&query4 
       </TR>
       <TR>
         &&query5 
       </TR>
       <TR><TD COLSPAN='3'>&nbsp;</TD></TR>
       <TR><TD>
           <h3>Select output fields:</h3>
         </TD>
         <TD>&nbsp;</TD>
         <TD>
           <h3>Order by:</h3>
         </TD>
       </TR>
       <TR VALIGN='top'>
         &&select1
         <TD>&nbsp;</TD>
         <TD>
           <TABLE>
             <TR>
               &&order1
             </TR>
             <TR>
               &&order2
             </TR>
             <TR>
               &&order3
             </TR>
           </TABLE>
         </TD>
      </TR>
      <TR><TD COLSPAN='3'>&nbsp;</TD></TR>
      <TR><TD><INPUT TYPE='submit' VALUE='Search'></TD></TR>
    </TABLE>

    &&hidden 

    </FORM>

    <font size ="-2"><pre>Help for dates:

If no hour, minute, and second is provided, the time is assumed to be 00:00:00, not the whole day.

The following is quoted from <a href="http://theoryx5.uwinnipeg.ca/CPAN/data/libwww-perl/HTTP/Date.html">HTTP::Date</a>): 
    The function is able to parse the following formats:

 "Wed, 09 Feb 1994 22:23:32 GMT"       -- HTTP format
 "Thu Feb  3 17:03:55 GMT 1994"        -- ctime(3) format
 "Thu Feb  3 00:00:00 1994",           -- ANSI C asctime() format
 "Tuesday, 08-Feb-94 14:15:29 GMT"     -- old rfc850 HTTP format
 "Tuesday, 08-Feb-1994 14:15:29 GMT"   -- broken rfc850 HTTP format

 "03/Feb/1994:17:03:55 -0700"   -- common logfile format
 "09 Feb 1994 22:23:32 GMT"     -- HTTP format (no weekday)
 "08-Feb-94 14:15:29 GMT"       -- rfc850 format (no weekday)
 "08-Feb-1994 14:15:29 GMT"     -- broken rfc850 format (no weekday)

 "1994-02-03 14:15:29 -0100"    -- ISO 8601 format
 "1994-02-03 14:15:29"          -- zone is optional
 "1994-02-03"                   -- only date
 "1994-02-03T14:15:29"          -- Use T as separator
 "19940203T141529Z"             -- ISO 8601 compact format
 "19940203"                     -- only date

 "08-Feb-94"         -- old rfc850 HTTP format    (no weekday, no time)
 "08-Feb-1994"       -- broken rfc850 HTTP format (no weekday, no time)
 "09 Feb 1994"       -- proposed new HTTP format  (no weekday, no time)
 "03/Feb/1994"       -- common logfile format     (no time, no offset)

 "Feb  3  1994"      -- Unix 'ls -l' format
 "Feb  3 17:03"      -- Unix 'ls -l' format

 "11-15-96  03:52PM" -- Windows 'dir' format

    The parser ignores leading and trailing whitespace. It also allow the seconds to be missing and the month to be numerical in most formats.

If the year is missing, then we assume that the date is the first matching date before current month. 
If the year is given with only 2 digits, then parse_date() will select the century that makes the year closest to the current date. 
</pre></font>

  </BODY>

</HTML>

