<HTML>

  <HEAD>
    <TITLE>Commands List</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">
  <FORM METHOD="GET" ACTION="&&myurl">
    <H1>Commands List</H1>
    <H3>&&paramtitle</H3>
    &&links<BR>
   <p>
Search command description for (use % for wildcard):&nbsp;<INPUT TYPE="TEXT" NAME="search_desc">&nbsp;<BR>
Search command line for (use % for wildcard):&nbsp;<INPUT TYPE="TEXT" NAME="search_line">&nbsp;<BR>
<INPUT TYPE='SUBMIT' VALUE='Search'></p>

<FONT SIZE='-1'>(Showing commands with description: '&&search_desc' and command line: '&&search_line'.)  &&resetlink</FONT><BR>
    <TABLE BORDER=1>
      <TH>Do Me</TH>
      <TH>Description</TH>
      <TH>Reusable?</TH>
      <TH>EUID</TH>
      <TH>EGID</TH>
      <TH>Last Update Date</TH>
      <TH>Last Update User</TH>
      <TH>View/Edit</TH>
      &&commands_list
    </TABLE>
<FONT SIZE='-1'>(Showing commands with description: '&&search_desc' and command line: '&&search_line'.)  &&resetlink</FONT><BR>
    <BR>
    &&links <BR>
   &&hidden
   &&hidden2

  </FORM>
  </BODY>

</HTML>

