<HTML>

  <HEAD>
    <TITLE>History Search Results</TITLE>
  </HEAD>

  <BODY BGCOLOR="#FFFFFF"  LINK="#0000CC" VLINK="#0000CC" ALINK="#0000CC">

    <H1>History Results</H1>

    &&links
    <TABLE BORDER=1>
       &&headers
       &&historylist
    </TABLE>
   <font size ='-1'>(Queries are limited to a maximum of &&maxrows returned records.)</font>

    <BR>
    &&links

    <BR>
   <H3>Your sql query was:</H3>
   <pre><font size ='-2'> &&query </font></pre>
    <BR>
    &&links

  </BODY>

</HTML>

