policy_module(spacewalk-monitoring,@@VERSION@@)

require {
	type initrc_t;
	type java_t;
	type devpts_t;
	type sbin_t;
	type initrc_exec_t;
}

type spacewalk_monitoring_t;
domain_type(spacewalk_monitoring_t);
type spacewalk_monitoring_exec_t;
files_type(spacewalk_monitoring_exec_t);
type spacewalk_monitoring_log_t;
logging_log_file(spacewalk_monitoring_log_t);
type spacewalk_monitoring_var_run_t;
files_pid_file(spacewalk_monitoring_var_run_t);
type spacewalk_monitoring_lock_t;
files_lock_file(spacewalk_monitoring_lock_t);

domain_entry_file(spacewalk_monitoring_t, spacewalk_monitoring_exec_t)
domain_auto_trans(initrc_t, spacewalk_monitoring_exec_t, spacewalk_monitoring_t)
domtrans_pattern(java_t, spacewalk_monitoring_exec_t, spacewalk_monitoring_t)

files_read_etc_files(spacewalk_monitoring_t)
allow spacewalk_monitoring_t etc_t:dir { write add_name };
allow spacewalk_monitoring_t etc_t:lnk_file create;

libs_use_shared_libs(spacewalk_monitoring_t)
libs_use_ld_so(spacewalk_monitoring_t)
miscfiles_read_localization(spacewalk_monitoring_t)
dev_read_urand(spacewalk_monitoring_t)

logging_log_filetrans(spacewalk_monitoring_t, spacewalk_monitoring_log_t, file)
create_files_pattern(spacewalk_monitoring_t, var_log_t, spacewalk_monitoring_log_t)
append_files_pattern(spacewalk_monitoring_t, var_log_t, spacewalk_monitoring_log_t)

files_pid_filetrans(spacewalk_monitoring_t, spacewalk_monitoring_var_run_t, file)
manage_files_pattern(spacewalk_monitoring_t, var_run_t, spacewalk_monitoring_var_run_t)

allow spacewalk_monitoring_t devpts_t:chr_file { read write ioctl getattr };

corecmd_search_sbin(spacewalk_monitoring_t)
corecmd_search_bin(spacewalk_monitoring_t)
allow spacewalk_monitoring_t sbin_t:lnk_file read;
allow spacewalk_monitoring_t initrc_exec_t:file getattr;

allow spacewalk_monitoring_t spacewalk_monitoring_lock_t:file manage_file_perms;
files_lock_filetrans(spacewalk_monitoring_t, spacewalk_monitoring_lock_t, file)
