policy_module(spacewalk-monitoring,@@VERSION@@)

require {
	type initrc_t;
	type java_t;
}

type spacewalk_monitoring_t;
domain_type(spacewalk_monitoring_t);
type spacewalk_monitoring_exec_t;
files_type(spacewalk_monitoring_exec_t);
type spacewalk_monitoring_log_t;
logging_log_file(spacewalk_monitoring_log_t);

domain_entry_file(spacewalk_monitoring_t, spacewalk_monitoring_exec_t)
domain_auto_trans(initrc_t, spacewalk_monitoring_exec_t, spacewalk_monitoring_t)
domtrans_pattern(java_t, spacewalk_monitoring_exec_t, spacewalk_monitoring_t)

files_search_etc(spacewalk_monitoring_t)
libs_use_shared_libs(spacewalk_monitoring_t)
libs_use_ld_so(spacewalk_monitoring_t)
miscfiles_read_localization(spacewalk_monitoring_t)
dev_read_urand(spacewalk_monitoring_t)

logging_log_filetrans(spacewalk_monitoring_t, spacewalk_monitoring_log_t, file)
create_files_pattern(spacewalk_monitoring_t, var_log_t, spacewalk_monitoring_log_t)
append_files_pattern(spacewalk_monitoring_t, var_log_t, spacewalk_monitoring_log_t)
