<!--
input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: normal; text-decoration: none; color: #0000CC}
textarea {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: normal; text-decoration: none; color: #0000CC}
select {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: normal; color: #0000CC}
.smallSelect {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; color: #0000CC; text-decoration: none}
a:active  { color: #0000CC; text-decoration: none}
a:hover   { color: #FF0000; text-decoration: none}
a:link    { color: #0000CC; text-decoration: none}
a:visited { text-decoration: none}
-->
