body {
    background:  white;
    font-family: arial, helvetica, sans-serif;
}	
tt {
    font-family: courier, monospace;
}
code {
    font-family: lucidatypewriter, courier, monospace;
    font-size: 85%;
}
pre {
    font-family: lucidatypewriter, courier, monospace;
    font-size: 85%;
}
p {
    font-family: arial, helvetica, sans-serif;
}
dd {
    font-family: arial, helvetica, sans-serif;
}
blockquote {
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
}
b {
    font-weight: bold;
}
h1 { 
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 130%;
    color: #336699;
}
h2 { 
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 115%;
    color: #336699;
}
h3 { 
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 110%;
    color: #336699;
}

dt {
    color: #006699;
}
.POD_TEXT {
    font-family: arial, helvetica, sans-serif;
}

.POD_NAVBAR {
   font-family: arial, helvetica, sans-serif;
}

.POD_NAVLINK {
    font-family: arial, helvetica, sans-serif;
}

.POD_METHOD_SUMMARY_HEADER {
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    color: #336699;
}

.POD_METHOD_SUMMARY {
    font-size: smaller;
    font-family: arial, helvetica, sans-serif;
}

.POD_VERSION_FOOTER {
    font-family: arial, helvetica, sans-serif;
    font-size: 75%;
    color: #555555
}
