@font-face {
	font-family: 'spacewalk-icon';
	src:url('../font/spacewalk-icon.eot');
	src:url('../font/spacewalk-icon.eot?#iefix') format('embedded-opentype'),
		url('../font/spacewalk-icon.woff') format('woff'),
		url('../font/spacewalk-icon.ttf') format('truetype'),
		url('../font/spacewalk-icon.svg#spacewalk-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="spacewalk-icon-"] {
	font-family: 'spacewalk-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.spacewalk-icon-snapshot-rollback:before {
	content: "\e600";
}
.spacewalk-icon-package-delete:before {
	content: "\e601";
}
.spacewalk-icon-config-system:before {
	content: "\e602";
}
.spacewalk-icon-channels:before {
	content: "\e603";
}
.spacewalk-icon-package-add:before {
	content: "\e604";
}
.spacewalk-icon-schedule:before {
	content: "\e605";
}
.spacewalk-icon-schedule-computer:before {
	content: "\e606";
}
.spacewalk-icon-note-pin:before {
	content: "\e607";
}
.spacewalk-icon-channels-config:before {
	content: "\e608";
}
.spacewalk-icon-bug-ex:before {
	content: "\e609";
}
.spacewalk-icon-monitoring-warning:before {
	content: "\e60a";
}
.spacewalk-icon-sandbox:before {
	content: "\e60b";
}
.spacewalk-icon-proxy:before {
	content: "\e60c";
}
.spacewalk-icon-monitoring-unknown:before {
	content: "\e60d";
}
.spacewalk-icon-patchset-install:before {
	content: "\e60e";
}
.spacewalk-icon-monitoring-pending:before {
	content: "\e60f";
}
.spacewalk-icon-patch-set:before {
	content: "\e610";
}
.spacewalk-icon-monitoring-ok:before {
	content: "\e611";
}
.spacewalk-icon-patch-remove:before {
	content: "\e612";
}
.spacewalk-icon-monitoring-down:before {
	content: "\e613";
}
.spacewalk-icon-package-upgrade:before {
	content: "\e614";
}
.spacewalk-icon-patch-install:before {
	content: "\e615";
}
.spacewalk-icon-listicon-cfg-symlink:before {
	content: "\e616";
}
.spacewalk-icon-go-button:before {
	content: "\e617";
}
.spacewalk-icon-folder-config:before {
	content: "\e618";
}
.spacewalk-icon-package-extra:before {
	content: "\e619";
}
.spacewalk-icon-patches:before {
	content: "\e61a";
}
.spacewalk-icon-register-system:before {
	content: "\e61b";
}
.spacewalk-icon-inactive-systems:before {
	content: "\e61c";
}
.spacewalk-icon-locked-system:before {
	content: "\e61d";
}
.spacewalk-icon-autoinstallations:before {
	content: "\e61e";
}
.spacewalk-icon-autoinstalling:before {
	content: "\e61f";
}
.spacewalk-icon-manage-autoinstallations:before {
	content: "\e620";
}
.spacewalk-icon-Software-Channel-Management:before {
	content: "\e621";
}
.spacewalk-icon-manage-configuration-files:before {
	content: "\e622";
}
.spacewalk-icon-schedule2:before {
	content: "\e623";
}
.spacewalk-icon-clone-patches:before {
	content: "\e624";
}
.spacewalk-icon-configure-suse-manager:before {
	content: "\e625";
}
.spacewalk-icon-manage-entitlements-subscriptions:before {
	content: "\e626";
}
.spacewalk-icon-software-channels:before {
	content: "\e627";
}
.spacewalk-icon-software-crashes:before {
	content: "\e628";
}
.spacewalk-icon-manage-patches:before {
	content: "\e629";
}
.spacewalk-icon-custom-system-info:before {
	content: "\e62a";
}
.spacewalk-icon-download-csv:before {
	content: "\e62b";
}
.spacewalk-icon-manage-software-packages:before {
	content: "\e62c";
}
.spacewalk-icon-monitoring-status:before {
	content: "\e62d";
}
.spacewalk-icon-system-groups:before {
	content: "\e62e";
}
.spacewalk-icon-Unentitled:before {
	content: "\e62f";
}
.spacewalk-icon-enhancement:before {
	content: "\e630";
}
.spacewalk-icon-health-pending:before {
	content: "\e631";
}
.spacewalk-icon-organization-trust:before {
	content: "\e632";
}
.spacewalk-icon-unknown-system:before {
	content: "\e633";
}
.spacewalk-icon-virtual-guest:before {
	content: "\e634";
}
.spacewalk-icon-package-search:before {
	content: "\e635";
}
.spacewalk-icon-health-unknown:before {
	content: "\e636";
}
.spacewalk-icon-health:before {
	content: "\e637";
}
.spacewalk-icon-packages:before {
	content: "\e638";
}
.spacewalk-icon-virtual-host:before {
	content: "\e639";
}
