Source: python-ethtool
Section: python
Priority: extra
Maintainer: Miroslav Suchý <miroslav@suchy.cz>
Build-Depends: debhelper (>= 7.0.50~), python, python-all-dev, libnl-dev, python-support (>= 0.8), asciidoc
Standards-Version: 3.9.1
Homepage: http://fedorapeople.org/gitweb?p=dsommers/public_git/python-ethtool.git;a=summary

Package: python-ethtool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Ethernet settings python bindings
 Python bindings for the ethtool kernel interface, that allows querying and
 changing of ethernet card settings, such as speed, port, autonegotiation,
 and PCI locations.
