#
# system wide ssh_config (openssh)
#
Host *
 ForwardAgent no
 ForwardX11 no
 RhostsAuthentication no
 RhostsRSAAuthentication no
 RSAAuthentication yes
 PasswordAuthentication yes
 FallBackToRsh no
 UseRsh no
 BatchMode no
 CheckHostIP no
 StrictHostKeyChecking no
 Protocol 2,1
# LogLevel quiet
