#
# system wide sshd_config (openssh)
#
Port 22
Protocol 1,2
ListenAddress 0.0.0.0
#HostKey /etc/ssh/ssh_host_key
#HostKey /etc/ssh/ssh_host_dsa_key
#HostKey /etc/ssh/ssh_host_rsa_key
ServerKeyBits 768
LoginGraceTime 600
#KeyRegenerationInterval 3600
IgnoreRhosts yes
#IgnoreUserKnownHosts yes
#StrictModes yes
X11Forwarding no
X11DisplayOffset 10
PrintMotd yes
KeepAlive yes
SyslogFacility DAEMON
LogLevel INFO
RhostsAuthentication no
RhostsRSAAuthentication no
#PermitEmptyPasswords no
#UseLogin no
AllowTcpForwarding no
#MaxStartups 10:30:60
#Banner /etc/issue.net
#ReverseMappingCheck yes
RSAAuthentication yes
PasswordAuthentication yes
PermitRootLogin yes
