<rhn-interface name="system">

  <rhn-method name="is_nvre_installed">
    <description>Given a package name + version + release + epoch,
    returns true iff that nvre is installed on the system</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="package_name" type="string" />
    <param name="package_version" type="string" />
    <param name="package_release" type="string" />
    <param name="package_epoch" type="string" />

    <return type="boolean" />
  </rhn-method>


  <rhn-method name="list_newer_installed_packages">
    <description>Given a package name + version + release + epoch,
    returns the list of packages installed on the system w/ the same
    name that are newer.  If no package with given name is installed,
    throws a no_such_package exception (code -209)</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="package_name" type="string" />
    <param name="package_version" type="string" />
    <param name="package_release" type="string" />
    <param name="package_epoch" type="string" />

    <return type="list">
      <hash>
        <key name="NAME" type="string" />
        <key name="VERSION" type="string" />
        <key name="RELEASE" type="string" />
        <key name="EPOCH" type="string" />
      </hash>
    </return>
  </rhn-method>



  <rhn-method name="list_older_installed_packages">
    <description>Given a package name + version + release + epoch,
    returns the list of packages installed on the system w/ the same
    name that are older.  If no package with given name is installed,
    throws a no_such_package exception (code -209)</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="package_name" type="string" />
    <param name="package_version" type="string" />
    <param name="package_release" type="string" />
    <param name="package_epoch" type="string" />

    <return type="list">
      <hash>
        <key name="NAME" type="string" />
        <key name="VERSION" type="string" />
        <key name="RELEASE" type="string" />
        <key name="EPOCH" type="string" />
      </hash>
    </return>
  </rhn-method>




  <rhn-method name="obtain_reactivation_key">
    <description>Obtains the reactivation key for a specified system</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="string" />
  </rhn-method>

  <rhn-method name="list_user_systems">
    <description>List all systems a user has access to</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />

    <return type="list">
      <hash>
        <key name="sid" type="id" />
        <key name="server_name" type="string" />
        <key name="last_checkin" type="string" />
      </hash>
    </return>
  </rhn-method>


  <rhn-method name="set_custom_values">
    <description>Set custom information values for a given system</description>
    <handler class="Sniglets::API::System" method="set_custom_values" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="values" type="hash" />

    <return type="boolean" />
  </rhn-method>


  <rhn-method name="get_entitlements">
    <description>Return the entitlements of the system</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
        <key name="entitlement" type="string" />
    </return>

  </rhn-method>


  <rhn-method name="upgrade_entitlement">
    <description>Upgrades the entitlement level of the system</description>
    <handler class="Sniglets::API::System" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="entitlement" type="string">Entitlement to upgrade
    to.  Legal values include:  'enterprise_entitled', 'provisioning_entitled'</param>

    <return type="id" />
  </rhn-method>

  <rhn-method name="get_custom_values">
    <description>Get a hash of the custom information for a given system</description>
    <handler class="Sniglets::API::System" method="get_custom_values" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" />

    <return type="hash" />
  </rhn-method>


  <rhn-method name="add_note">
    <description>Adds a note to the given system</description>
    <handler class="Sniglets::API::System" method="add_note" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="subject" type="string" />
    <param name="body" type="string" />

    <return type="integer" />
  </rhn-method>


  <rhn-method name="set_profile_name">
    <description>Update the system profile name.</description>
    <handler class="Sniglets::API::System" method="set_profile_name" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="new_profile_name" type="string" />

    <return type="integer" />
  </rhn-method>


  <rhn-method name="get_network">
    <description>Return the basic network information of the system</description>
    <handler class="Sniglets::API::System" method="get_network" />

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <return type="hash" />
  </rhn-method>


  <rhn-method name="delete_systems">
    <handler class="Sniglets::API::System" />
    <description>Deletes systems</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" slurp="1">Can be either a single id, or a list of ids</param>

    <return type="integer" />
  </rhn-method>


  <rhn-method name="list_groups">
    <handler class="Sniglets::API::System" />
    <description>List org system groups and tell whether a specified
    system is a member</description>

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
      <hash>
        <key name="sgid" type="id" />
        <key name="system_group_name" type="string" />
        <key name="subscribed" type="boolean" />
      </hash>
    </return>
  </rhn-method>


  <rhn-method name="set_group_membership">
    <handler class="Sniglets::API::System" method="set_group_membership" />
    <description>Set the group membership for a given system and system-group</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="sgid" type="id" />
    <param name="member" type="boolean" />

    <return type="boolean" />
  </rhn-method>


  <rhn-method name="list_base_channels">
    <handler class="Sniglets::API::System" />
    <description>List the possible base channel(s) for a system</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
      <hash>
        <key name="sgid" type="id" />
        <key name="system_group_name" type="string" />
        <key name="subscribed" type="boolean" />
      </hash>
    </return>
  </rhn-method>


  <rhn-method name="set_base_channel">
    <handler class="Sniglets::API::System" />
    <description>Set the base channel for a system</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="cid" type="id" />

    <return type="integer" />
  </rhn-method>


  <rhn-method name="set_child_channels">
    <handler class="Sniglets::API::System" />
    <description>Sets the child channels for a system</description>

    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />
    <param name="cid" type="id" slurp="1"/>

    <return type="integer" />
  </rhn-method>


  <rhn-method name="list_child_channels">
    <handler class="Sniglets::API::System" />
    <description>Lists the subscribable child channels of the given system</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
      <hash>
        <key name="sgid" type="id" />
        <key name="system_group_name" type="string" />
        <key name="subscribed" type="boolean" />
      </hash>
    </return>
  </rhn-method>


  <rhn-method name="list_packages">
    <handler class="Sniglets::API::System" />
    <description>List installed packages on a system</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
      <hash>
        <key name="name" type="string" />
        <key name="version" type="string" />
        <key name="release" type="string" />
        <key name="epoch" type="string" />
      </hash>
    </return>
  </rhn-method>

  <rhn-method name="list_latest_installable_packages">
    <handler class="Sniglets::API::System" />
    <description>List the latest versions of installable packages on a system.  Includes
    packages that would be upgrades of older, installed packages.</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
      <hash>
        <key name="package_name" type="string" />
        <key name="package_version" type="string" />
        <key name="package_release" type="string" />
        <key name="package_epoch" type="string" />
        <key name="package_id" type="id" />
        <key name="package_arch_label" type="string" />
      </hash>
    </return>
  </rhn-method>

  <rhn-method name="list_latest_upgradable_packages">
    <handler class="Sniglets::API::System" />
    <description>List the latest versions of packages that can be upgraded on a system</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="list">
      <hash>
        <key name="package_name" type="string" />
        <key name="from_version" type="string" />
        <key name="from_release" type="string" />
        <key name="from_epoch" type="string" />
        <key name="to_version" type="string" />
        <key name="to_release" type="string" />
        <key name="to_epoch" type="string" />
      </hash>
    </return>
  </rhn-method>

  <rhn-method name="download_system_id">
    <handler class="Sniglets::API::System" />
    <description>For a given system, renders the contents of the
    /etc/sysconfig/rhn/systemid file</description>
    <param name="session" type="session" mangle="session_user" />
    <param name="sid" type="id" mangle="objectify_system" />

    <return type="string" />
  </rhn-method>

</rhn-interface>
