[Desktop Entry]
Encoding=UTF-8
Name=RHN Registration
GenericName=Register for software updates from Spacewalk/Satellite/Red Hat Network
Comment=Register to Spacewalk/Satellite/Red Hat Network.
Exec=rhn_register
Icon=up2date
Terminal=false
Type=Application
Categories=System;Settings;X-Red-Hat-Base;
