policy_module(oracle-xe,@@VERSION@@)

require {
	type oracle_db_t;
	type oracle_sqlplus_log_t;
	type devpts_t;
	type inaddr_any_node_t;
	type oracle_tnslsnr_t;
	type oracle_sqlplus_t;
	type oracle_db_log_t;
	type http_cache_port_t;
	type initrc_t;
}

rw_files_pattern(oracle_db_t, oracle_sqlplus_log_t, oracle_sqlplus_log_t)

dontaudit oracle_db_t devpts_t:chr_file { ioctl };

allow oracle_db_t self:process signull;

domain_read_all_domains_state(oracle_db_t);

allow oracle_db_t inaddr_any_node_t:tcp_socket node_bind;

allow oracle_tnslsnr_t oracle_db_t:unix_stream_socket connectto;

allow oracle_sqlplus_t oracle_db_log_t:dir search;

dontaudit oracle_tnslsnr_t http_cache_port_t:tcp_socket name_bind;

allow oracle_db_t initrc_t:fifo_file { read ioctl };

allow oracle_db_t self:process ptrace;

