################################
# CONFIG VARIABLES
################################
# See Date::Manip man page for a description of all config variables.

EraseHolidays		=
PersonalCnf		= Manip.cnf
PersonalCnfPath		= t:.
Language		= English
DateFormat		= US
TZ			= EST
ConvTZ			= EST
Internal		= 0
FirstDay		= 1
WorkWeekBeg		= 1
WorkWeekEnd		= 5
WorkDay24Hr		= 0
WorkDayBeg		= 08:00
WorkDayEnd		= 17:00
TomorrowFirst		= 1
DeltaSigns		= 0
Jan1Week1   		= 0
YYtoYYYY                = 89
UpdateCurrTZ            = 0
IntCharSet              = 0
#ForceDate		=

################################
# HOLIDAYS
################################
*HOLIDAY

# Make sure that the date part of every date can be followed by the year
# and be correctly parsed by ParseDate.

# The following holiday definitions are taken from pcal's config file.
# Some are commented out if these tend to be ordinary business days.

1/1				= New Year's Day
third Monday in Feb             = Presidents' Day
# 2/14                          = Valentine's Day
# 3/17                          = St. Patrick's Day
last Monday in May              = Memorial Day
# 6/14                          = Flag Day
7/4                             = Independence Day
1st Monday in Sep               = Labor Day
second Monday in Oct            = Columbus Day (observed)
# 10/31                         = Halloween
#second Mon in Nov               = Veterans' Day (observed)
fourth Thu in Nov               = Thanksgiving
# 12/24                         = Christmas Eve
12/25                           = Christmas
# 12/31                         = New Year's Eve

# You can also use recurrences.

1*0:0:0:0:0:0*EASTER		= Easter
1*11:0:11:0:0:0*CWD             = Veteren's Day (observed)
#1*0:0:0:0:0:0*EASTER,PD5	= Good Friday


# Other complex holidays (date + delta, date - delta)

# first Monday in Nov + 1 day   = Election day
# The Friday after Thanksgiving is an unnamed holiday some places
# fourth Thu in Nov + 1 day     =

# State specific holidays (set for Florida)

# Except AZ, NH, MT
3rd Monday in Jan		= Martin Luther King Day

# Alaska
#first Sat in March             = Iditarod starts

# Only for MA, ME
#3rd Monday in Apr              = Patriots' Day

# You can define specific holidays for specific years
# 1/5/1999                      = A one-year-only holiday
# 1st Monday in Sep 1998        = Another one.
6/2/1999			= A special test holiday for 1999
