Source: rhnsd
Section: admin
Priority: extra
Maintainer: Miroslav Suchý <miroslav@suchy.cz>
Uploaders: Bernd Zeimetz <bzed@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Homepage: https://fedorahosted.org/spacewalk
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/spacewalk/rhnsd.git
Vcs-Git: git://anonscm.debian.org/collab-maint/spacewalk/rhnsd.git

Package: rhnsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rhn-client-tools
Description: Red Hat Update Agent
 periodically runs rhn_check which will check for and execute queued
 actions on Red Hat Network or Spacewalk servers.
