/*** header where RH logo, RHN logo, account, etc stuff is ***/

/* BEGIN new "rhel5" primary and secondary navigation */
/************************************************************** TOP NAVIGATION V2 */

#header {
        height: 31px;   /* changed height added bottom margin  */
        margin-bottom: 10px;
        }

img#rhLogo {
        float: left;
        margin-left: 15px;
        }

img#rhnLogo {
        float: left;
        }

#utility {
	font-size: x-small;
	padding: 0;
}

#utility a {
	text-decoration: none;
}

#utilityLinks {
	float: left;
	width: 55%;
	padding: 4px 0;
	border-bottom: 1px solid #ccc;
}

#utilityLinks p#geo {
	margin: 0;
	float: left;
	width: 40%;
}

#utilityLinks p#linx {
	margin: 0;
	float: right;
	width: 57%;
	text-align: right;
	padding-right: 3%;
}

#utilityAccount {
	float: right;
	text-align: center;
	background: #eee;
	width: 45%;
	background-image: url(/img/nav/utilBkgdRight.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

#utilityAccount p {
	margin: 0;
	background-image: url(/img/nav/utilBkgdLeft.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	display: block;
	padding: 6px 0px 8px 0px;
}

#utilityAccount span.label {
        text-transform: uppercase;
        font-size: .8em;
	font-weight: 700;
}

#utilityAccount p a, #utilityAccount p a:link {
	font-weight: 700;
}

span.navPipe {
	color: #b00000;
	padding: 0 10px;
}

a#utilityCart {
	background-image: url(/img/nav/cart.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 26px;
	padding-bottom: 4px;
	padding-top: 3px;
}

#utilityAccount a:link,
#utilityAccount a:hover,
#utilityAccount a:active,
#utilityAccount a {
	color: 			white;
}

#utilityLinks a:link,
#utilityLinks a:hover,
#utilityLinks a:active,
#utilityLinks a {
	color: 			white;
}

