/** styles for content nav (for example, the sdc grey navigation bar is a content nav **/

.content-nav {
	margin: 0;
        padding: 0;
}

.content-nav a:visited {
    color: #06c;
}

.content-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 10px;
        font-family: "Luxi Sans", verdana, arial, sans-serif;
        }

.content-nav:after,
.content-nav ul:after {
        content: ".";
        display: block;
        height: 1px;
        margin-top: -1px;
        overflow: hidden;
        clear: both;
        visibility: hidden;
        }

ul.content-nav-rowone,
ul.content-nav-rowthree {
        margin-left: 10px;
        }

ul.content-nav-rowone {
        border-bottom: 3px solid #e6e6e6;
        margin-bottom: -4px;
}

ul.content-nav-rowone li {
    margin-bottom: -1px;
    }

ul.content-nav-rowone li, ul.content-nav-rowthree li {
        float: left;
}

ul.content-nav-rowone li a, ul.content-nav-rowthree li a {
        display: block;
        padding: 4px 8px;
}

ul.content-nav-rowtwo {
        background: url(/img/contentnav_rowtwo_b.gif) bottom left no-repeat;
        padding-bottom: 6px;
        margin-right: 8px;
        }

ul.content-nav-rowtwo li {
        display: inline;
        padding-left: 18px;
}

a.content-nav-selected-link {
        color: #444;
        font-weight: 900;
        }

ul.content-nav-rowone li.content-nav-selected {
        background: url(/img/contentnav_tabr.gif) top right no-repeat;
}

ul.content-nav-rowone a.content-nav-selected-link {
        color: #444;
        font-weight: 900;
        background: url(/img/contentnav_tabl.gif) top left no-repeat;
        }

ul.content-nav-rowthree li.content-nav-selected {
        background: url(/img/contentnav_tabr.gif) bottom right no-repeat;
        }

ul.content-nav-rowthree a.content-nav-selected-link {
        color: #444;
        font-weight: 900;
        background: url(/img/contentnav_tabl.gif) bottom left no-repeat;
        }
div.contentnav-row2 {
        background: #e6e6e6 url(/img/contentnav_rowtwo_t.gif) top left no-repeat;
        padding: 0px;
        clear: left;
        }

div.contentnav-row2 a.content-nav-selected-link {
        color: #444;
        font-weight: 900;
}

div.contentnav-row2 div.top {
        background: url(/img/contentnav_rowtwo_t.gif) top right no-repeat;
        margin-left: 8px;
	height: 6px;
	font-size: 0;
        }

div.contentnav-row2 div.bottom {
	background: url(/img/contentnav_rowtwo_b.gif) bottom right no-repeat;
        }

