/**** Sidenav *****/

#sidenavp, #sidenav {   /* for ie55  */
        width: 150px;
        background-color: #999;
        background-image: url(/img/corner_sidenav_top.gif);
        background-position: top right;
        background-repeat: no-repeat;
        font-family: "Luxi Sans", verdana, arial, sans-serif;
        font-size: xx-small;
    /* false value for WinIE4/5 */
    voice-family: "\"}\"";
    /* trick WinIE4/5 into thinking rule is over */
    voice-family: inherit;
    /* recover from trick */
    font-size:  x-small;
    /* intended value for better browsers */
        font-weight: bold;
}

#sidenavp ul, #sidenav ul {
        background-image: url(/img/corner_sidenav_bottom.gif);
        background-position: bottom left;
        background-repeat: no-repeat;
        list-style: none;
        padding: 10px 0 10px 0;
        margin: 0;
}

#sidenavp ul ul, #sidenav ul li.navchild {
        background: none;
        background-color: #ccc;
        margin: 0;
        padding: 0;
        border-top: 1px solid #999;
}

#sidenavp ul li, #sidenav ul li.navparent {
        border-bottom: 1px solid #a7a7a7;
        margin: 0;
}

#sidenavp ul li:last-child, #sidenav ul li:last-child {
        border-bottom: 1px solid #999;
}

#sidenavp ul ul li.sidenav-selected, #sidenav ul li.sidenav-selected {
        background: #6c6c6c;
}

#sidenavp ul li.sidenav-selected span, #sidenav ul li.sidenav-selected span {
        display: none;
}

#sidenavp ul li a, #sidenav ul li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 3px 5px 3px 15px;
        margin: 0;
}

#sidenavp ul li.sidenav-selected, #sidenav ul li.sidenav-selected {
        background: #6c6c6c;
}

#sidenavp ul ul li:last-child, #sidenav ul li.navchild:last-child {
        border-bottom: none;
}

#sidenavp ul ul li a, #sidenav ul li.navchild a {
        padding-left: 30px;
        color: #555;
}

#sidenavp ul ul li.sidenav-selected a, #sidenav ul li.sidenav-selected a {
        color: white;
}

#content {
        clear: both;
}

/* The following styles establish the legend boxes in the left sidebar */

.sideleg {
        width: 150px;
        background: url(/img/sidelegend_top.gif) 0 0 no-repeat;
        padding-top: 9px;
        margin-top: 1em;
}

.sideleg h2 {
        font-size: x-small;
        color: #666;
        border: 1px solid #acacac;
        border-top: none;
        padding: 0 0 3px 15px;
        margin: 0;
}

.sideleg ul {
       padding: 0 0 9px 0 ;
        margin: 0;
        list-style: none;
        background: url(/img/sidelegend_bottom.gif) 0 100% no-repeat;
}

.sideleg ul li {
        padding: 12px 0 6px 15px;
        font-size: x-small;
        color: #666;
        border-left: 1px solid #acacac;
        border-right: 1px solid #acacac;
        clear: left;
}

.sideleg ul li img {
        float: left;
        padding-right: 3px;
        margin-top: -3px;
}

.sidebar {
        padding-right: 15px;
    vertical-align: top;
}

.sidebar {
        padding: 10px 0 0 0;    /* changed padding parameters */
        vertical-align: top;
}
.sidebar-title {
        color: #999;
        font-size: 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
}
.sidebar-links {
        font-size: 10px;
        margin: 0;
        padding: 0 0 0 15pt;
        color: #999;
}
.sidebar-title + .sidebar-links {
        margin-top: -0.5em;
}

.sidebar-info {
  padding: 4px 4px;
}

.sidebar-info h2 {
  padding-left: 10px;
  margin: 4px;
}

.legend-row {
  padding: 0px 2px;
  white-space: nowrap;
}
.legend-row img {
  vertical-align: middle;
  margin: 3px 4px;
  padding: 0;
}

