/** This stylesheet is for styles that are created especially for particular pages and are not really used across the entire webui. **/

 .clearBox {
        width: 279px;
        padding-top: 7px;
        margin-bottom: 15px;
        }

 .clearBox .label {
	clear: left;
 }
 
 .clearBoxInner {
        width: 100%;
        padding-bottom: 7px;
        }

 .clearBoxBody {
        padding: 5px 14px;
        border: 1px solid #b4b4b4;
        border-radius: 10px;
        }

 .clearBoxBody h2 {
        font-size: small;
        }

/** End login box styles **/

/** used for system entitlements page for virtual systems **/

.asterisk {
  color:                #cc0000;
  font-weight:          bold;
  font-size:            x-large;
  vertical-align:       sub;
  font-family:          sans-serif;
  line-height:      .6em;
}

/** used for the help desk page **/

ul#help-url-list li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul#help-url-list li a {
  font-weight: bold;
}

/** used on the login page **/

#contentLeft {
        float: left;
        margin-top: 20px;
}

#contentRight {
        margin: 0 15px 0 295px;
}

/**/

.preference {
        margin: 0 30px 0 30px;
        text-align: left;
        font-size: 0.9em;
        font-weight: bold;
        color: #444;
}

.schedule-action-interface {
  color: black;
}

.schedule-action-interface th {
        background-color: #fff;
        padding: 2px;
        border: none;
        color: black;
        text-align: left;
}

.ok-explanation img {
        border: none;
        vertical-align: middle;
        padding: 2px 0 4px 0;
}

td.comparison {
        padding: 10px;
}

th.hidden {
        visibility: hidden;
}

/** ssm **/

.ssm-overview th {
        font-weight: bold;
        color: #999;
        border: none;
        text-align: right;
        padding: 6px;
}

/** config mgmt feature file diff styles **/

.oldfile {
    float: left;
    width: 48%;
    font-family: 'monospace';
}

.newfile {
    float: right;
    width: 48%;
    font-family: 'monospace';
}

.changed {
    background-color: #f5f3c4;
    border-radius: 15px;
}

.oldfile .deleted {
    background-color: #f5c4c4;
    border-radius: 15px;
}

.newfile .deleted {
    background-color: #d4d4d4;
    border-radius: 15px;
}

.oldfile .inserted {
    background-color: #d4d4d4;
    border-radius: 15px;
}

.newfile .inserted {
    background-color: #c5f4c4;
    border-radius: 15px;
}

/* style for overridden config files */

.overridden-file {
    color: #0066cc;
    text-decoration: line-through;
}

/** api doc rounded table of contents box **/

div.rounded-box {
  float: right;
  border-bottom: 1px solid #b4b19a;
  background-color: white;
}

div.rounded-box ul {
  border-left: 1px solid #b4b19a;
  border-right: 1px solid #b4b19a;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  list-style-image: url(/img/parent_node.gif);
}


div.rounded-box h2 {
    border: 0px !important;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    background-color: #b4b19a;
    color: white;
    text-align: center;
    padding-top: 2px;
    border-radius: 10px 10px 0 0;
}

/** SDC fancy system info box showing system status (towards top of SDC > details page **/

.systeminfo {
    background: #eeeeee;
    border-radius: 15px;
    margin-bottom: 10px;
}

.systeminfo-clear {
    clear: both;
}

.systeminfo-full {
    width: 90%;
    margin-top: 8px;
    vertical-align: top;
    float: left;
    margin-left: 8px
}

.systeminfo-left {
    width: 30%;
    margin-top: 8px;
    vertical-align: top;
    float: left;
    margin-left: 8px
}

div.systeminfo-left img {
    float: left;
    margin-right: 10px;
}
.systeminfo-right {
    font-size: x-small;
    width: 60%;
    margin-top: 8px;
    vertical-align: middle;
    float: right;
}

/** styles for advanced search forms (eg advanced system search, advanced package search **/

.search-choices form {
  margin: 0;
  padding: 0;
}
.search-choices {
  margin-top: 20px;
}

.search-choices-group {
  margin-left: 40px;
}

/** misc **/

div.marketing-summary a {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer
}

.debug-profile {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 20px 40px;
  padding: 8px;
}
