/* this is for basic styles that apply site-wide */

/* This is the container for the content that is centered */
.wrap {
        width: 92%;
        margin: 0 auto;
        text-align: left;
	background: #fff;
	padding: 0 15px 0 15px;
        min-width: 760px;
}

#top-wrap {
	border-bottom:	4px solid #00aad4;
	background: 	#959595 url('/img/spacewalk-header-background.png');
}

#bottom-wrap {
	padding-top:	10px;
}


body {
        margin: 0;
        padding: 0;
        color: #333;
        text-align: center;
        background: black;
        font-family: "Luxi Sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
        font-size: small;
}

.page-content {
        padding: 6px 10px 6px 16px;
        vertical-align: top;
                width: 100%;
}

td.page-content > table {
  clear: left;
}

/* the two classes below are for two-column layouts */
.page-content div.left-column, .page-content div.details-column-left {
  float: left;
  width: 45%;
  clear: both;
}

.page-content div.right-column, .page-content div.details-column-right {
  float: right;
  width: 45%;
  clear: none;
}

.page-content .full-width, .page-content hr {
  clear: both;
  width: 100%;
}

.details-column-right {
  margin-left: 10px;
}

.details-column-left {
  margin-right: 10px;
}

.details-full {
  clear: both;
  padding-top: 10px;
  width: 90%;
  margin-bottom: 14px;
}

.submit-bar {
  clear: both;
}


td, th { /* for ie55  */
        font-size: x-small;
        /* false value for WinIE4/5 */
        voice-family: "\"}\"";
        /* trick WinIE4/5 into thinking rule is over */
        voice-family: inherit;
        /* recover from trick */
        font-size: small;
        /* intended value for better browsers */
        padding: 4px;
        text-align: left;
        vertical-align: top;
}

img {
        border: 0;
        }

hr {
        border: 0;
        border-bottom: 1px dashed #ccc;
        padding: 0.5em;
}

.center {
	text-align: center;
}

/* link styles */

a {
        text-decoration: none;
        }

a:link, a:visited {
        color: #06c;
        }

a:link:hover {
        text-decoration: underline !important;
        }

a[name] {
        text-decoration: inherit;
}
a[name]:hover {
        text-decoration: none !important;
}

a.help-title {
  vertical-align: top;
}

a.help-title img {
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

a[name]:hover {
        color: inherit;
}

/** headings **/

h1 {
        margin-top: 0;
}

h1, div.toolbar-h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 20px;
}

h1 img, div.toolbar-h1 img {
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 4px;
}

h1 a.help-title img, div.toolbar-h1 a.help-title img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

div.toolbar-h1, div.toolbar-h2 {
  font-weight: bold;
  padding: 4px 0;
}

h2, div.toolbar-h2  {
  font-size: 1.0em;
  color: #999;
  border-bottom: 2px solid #ccc;
}

h2 img, div.toolbar-h2 img {
  vertical-align: middle;
}
h2 a {
}


h3 {
  font-size: 1.0em;
}

/** toolbar. these are the 'add' and 'remove' icons/links in the upper right **/

div.toolbar {
        vertical-align: middle;
        font-weight: normal;
        font-size: 12px;
        color: #999;
        float: right;
        margin-top: 9px;
        white-space: nowrap;
}
.toolbar img {
        border: none;
        padding: 0 2px 1px 2px;
        vertical-align: middle;
}
.toolbar a {
        padding: 0 2px;
        text-decoration: none;
}

div.tooldiv.up-arrow {
        vertical-align: middle;
        font-weight: normal;
        font-size: 12px;
        color: #999;
        float: left;
        margin: 0 2%;
        white-space: nowrap;
}
.up-arrow img {
        border: none;
        padding: 0 2px 4px 2px;
        vertical-align: middle;
}
.up-arrow a {
        padding: 0 2px;
        text-decoration: none;
}

/** form stuffs **/

.required-form-field {
        font-weight: bold;
        color:  #c00;
}

.form-center {
        text-align: center;
}
select, input, textarea {
        font-family: sans-serif;
        font-size: 100%;
}

.invisible-buttons input {
        font-size: 10px;
}
.invisible-buttons input:hover {
        color: #f00;
}

div.formrow {
        padding: 5px 0px;
        font-size: x-small;
        vertical-align: top;
        height: 1%;
        }

div.formrow:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: right;
    visibility: hidden;
    }

div.formrow span.label {
        float: left;
        width: 110px;
        text-align: right;
        font-weight: bold;
        padding: .5em 0px;
}

div.formrow span.formfield {
        padding-right: 10px;
        float: right;
        width: 110px;
        text-align: right;
        }

div.formrow span.formfield input {
	width: 90px;
}

/** details - these are used for listing details about an object in the rhn webui, eg on a system details page they'll be used to list out the system name, ip address, etc. **/

table.details-2-columns {
        padding: 4px;
        border: none;
}

table.details {
  margin: 0 2%;
}
.details th {
        padding: 8px;
    padding-left: 16px;
        border: none;
        color: #444;
        text-align: right;
        vertical-align: top;
    border: 1px solid #ddd;
    border:none;
    background-color: #eee;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
}

.details th.required-form-field {
  border-right: 4px solid #c77;
}

.details td {
        vertical-align: top;
        padding: 4px;
        padding-left: 2px;
        padding: 8px;
        border-bottom: 0;
}

.details th + td {
        border-bottom: 1px solid #ddd;
}

.details td div {
        text-align: left;
        margin-bottom: 10px;
        white-space: nowrap;
}
/** details - these are used for listing details about an object in the rhn webui, eg on a system details page they'll be used to list out the system name, ip address, etc. **/

table.details-2-columns {
        padding: 4px;
        border: none;
}

table.details {
  margin: 0 2%;
}
.details th {
        padding: 8px;
    padding-left: 16px;
        border: none;
        color: #444;
        text-align: right;
        vertical-align: top;
    border: 1px solid #ddd;
    border:none;
    background-color: #eee;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
}

.details th.required-form-field {
  border-right: 4px solid #c77;
}

.details td {
        vertical-align: top;
        padding: 4px;
        padding-left: 2px;
        padding: 8px;
        border-bottom: 0;
}

.details th + td {
        border-bottom: 1px solid #ddd;
}

.details td div {
        text-align: left;
        margin-bottom: 10px;
        white-space: nowrap;
}

.details td table td {
        margin: 0;
        padding: 0;
        border: 0;
}

.details td table {
}

table.details td.small-form textarea {
        font-size: 10px;
        font-family: monospace;
}

.details-header {
        font-weight: bold;
        color: #444;
        font-family: helvetica;
}

/*these pull some style from the .csv-download class in the
  lisview.css stylesheet **/

table.details div.csv-download {
  width: 100%;
  padding: 3px 6px;
  margin-top: 8px;
  text-align: center;
}

table.details td.csv-download {
  padding: 0px;
  margin: 0px;
  -moz-border-radius: 0px;
  background-color: white;
}

/** button styles **/

.button a {
        margin-top: 3px;
        padding: 2px 5px 2px 5px;
}
.button:hover {
        background-color: #dddddd;
        text-decoration: none !important;
}
.button:active {
        padding: 3px 6px 1px 4px;
}

.button, a:link.link-button, a:visited.link-button, a:hover.link-button {
  font-size: small;
  background-color: #eee;
  border: 1px outset #bbb;

  text-decoration: none;
  color: #444;

}

a:link.link-button, a:visited.link-button, a:hover.link-button {
  padding-bottom: .25%;
  padding-top: .25%;
  padding-left: 2%;
  padding-right: 2%;
}

/** embedded help links **/

.rhn-embedded-help-NAVHEADER td {
  padding: 0 2em;
}

.rhn-embedded-help-TOC {
  padding: 0 4em;
}

div.rhn-embedded-help {
  padding: 6px 20px 6px 20px;
}

.rhn-embedded-help-NAVHEADER th {
  margin-top: 0;
  padding-bottom: 1em;
  font-size: 20px;
  border: 0;
  background-color: #fff;
  color: black;
  text-align: left;
}

/** misc **/

a.link-img:link img, a.link-img:visited img {
        border:         none;
        padding-right:   4px;
}

.small-text {
        font-size: x-small;
}

span.hide, span.hide * {
        visibility: hidden;
}

span.no-details {
  font-style: italic;
  color: #777;
}

.indent {
        margin-left: 1em;
}

#broken-browser-warning {
  text-align: center;
  display: none;
}

table.twocolumn td {
        vertical-align: top;
        width:          50%;
}
code.line-of-code {
  white-space: nowrap
}

ul.widespace li{
        margin-bottom: 12px;
}

.action-summary-errata, .action-summary-package, .action-summary-config {
  padding-top: 10px;
}

.action-summary-errata ul, .action-summary-package ul, .action-summary-config ul {
  margin: 0;
  list-style: none;
}

.file-display {
 overflow: auto;
 max-width: 600px;
 max-height: 200px;
 padding: 7px 5px;
}

div.page-summary {
  margin: 0 2%;
  cursor: text;
}

div.page-summary a {
  text-decoration: underline;
  cursor: pointer
}

div.indent {
  margin-left: 4px;
}


#footer {

        /*
        border-top: 2px dotted #ccc;
        padding: 2em 4em 2em 4em;
        */
        padding: 1em;
        margin: 1em 4em 1em 4em;
        text-align: center;
        font-size: 10px;
        color: #aaa;

        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
}
