/**** PRIMARY TOP NAV BAR ****/

#header {
        width: 100%;
        margin: 0 0 12px 0;
        padding-top: 12px;
        clear: both;
}

#header form {
        width: 100%;
        margin-top: 5px;
        float: right;
        text-align: right;
}

#header input, #header select {
        border: 1px inset #aaa;
}

#header select {
        margin-right: 5px;
}

#rhLogo {
        float: left;
        margin-left: 2px;
}

div#navWrap {
        clear: both;
        width: 100%;
        font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, arial, sans-serif;
        background-color: #cecece;
        background: linear-gradient(to bottom, #eeeeee 0%, #cecece 100%);
        background: -o-linear-gradient(top, #eeeeee 0%, #cecece 100%);
        background: -webkit-linear-gradient(top, #eeeeee 0%, #cecece 100%);
        border-radius: 10px 10px 0 0;
}

div#navWrap div#mainNavWrap {
        width: 100%;
        margin-top: -5px;
        float: left;
}

ul#mainNav, div#mainNavWrap ul {
        width: 100%;
        font-weight: bold;
        /*border-bottom: 1px solid #8f0000;*/
        padding: 0;
        margin: 0px;
        list-style-type: none;
        float: left;
}

ul#mainNav li, div#mainNavWrap ul li {
        float: left;
        padding: 0 0 2px 0;
        margin: 0;
}

ul#mainNav li a, div#mainNavWrap ul li a {
        padding: 9px 15px 2px 15px;
        text-decoration: none;
        color: #000;
        font-size: 85%;
        display: block;
        float: left;
}

/***** highlighting *****/

li#mainFirst-active,
#mainNav li#main-active,
#mainNav li#mainLast-active,
div#mainNavWrap ul li#main-active,
div#mainNavWrap ul li#mainLast-active {
        border-radius: 10px 10px 0 0;
}

li#mainFirst-active a,
#mainNav li#main-active a,
#mainNav li#mainLast-active a,
div#mainNavWrap ul li#main-active a,
div#mainNavWrap ul li#mainLast-active a {
        color: #fff;
}

/* if it's the first tab item in the bar, styled a little differently */
ul#mainNav li#mainFirst-active a,
div#mainNavWrap ul li#mainFirst-active a {
        color: #fff;
}

.button, div#searchbar form input.button {
  font-size: small;
  background-color: #eee;
  border: 2px outset #bbb;
  text-decoration: none;
  color: #444;
}

#bar .button {
  border: 1px outset #bbb;
  padding: 1px 3px;
  position: relative;
  top: 4px;
}


/***** hacks!! *****/

#utility:after,
#header:after,
#navWrap:after {
    content: ".";
    display: block;
    height: 0px;
    overflow: hidden;
    clear: both;
    visibility: hidden;
    }

/**** SECONDARY TOP NAV BAR ****/
/* This CSS is for the second, red-colored nav bar at the top of the screen. */
#bar {
	color: white;
  padding-top: 2px;
        text-align: right;
        padding-right: 6px;
        height: 2em;
        font-variant: small-caps;
}

#header_selcount {
  position: relative;
  top: 4px;
}


#bar a, #bar a:link, #bar a:hover, #bar a:active {
	margin-left: 6px;
        color: #444;
        text-decoration: none;
}

#searchbar {
	float: right;
	margin-right: 10px;
        width: 500px;
	clear: right;
}
