/* Styles that are specific to RHN documentation pages **/

table.WARNING tr th b, table.NOTE tr th b, table.TIP tr th b, table.IMPORTANT tr th b, table.CAUTION tr th b { color: #333; }

table.CALSTABLE {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  padding: 5px 0px 5px 0px;
  border: none;
  background-color: #f1EBDC;
}

table.CALSTABLE th { color: #333; }

table.CALSTABLE td, table.CALSTABLE th {
  border: none;
  padding: 0px 10px 5px 10px;
  vertical-align: middle;
}

table.CALSTABLE td {
  padding-top: 5px;
  border-top: 1px solid white;
}

table.CALSTABLE td + td, table.CALSTABLE td + td + td, table.CALSTABLE th + th, table.CALSTABLE th + th + th {
  padding-left: 12px;
  border-left: 1px solid white;
}


/*** mizmo new docs style overrides ***/

.variablelist dd { padding-bottom: 3ex; }
pre code { display: block; }
pre code em, pre code span, pre code code { display: inline; }

.book div.table, .section div.table, .chapter div.table, .preface div.table {
  margin-top: 2ex;
}

.note table,
.tip table,
.important table,
.caution table,
.warning table {
  background-color: 	white;
  color:		#444;
}

.note .guibutton, .note .keycap, 
.tip .guibutton, .tip .keycap, .tip .guilabel,
.important .guibutton, .important .keycap,
.caution .guibutton, .caution .keycap, .caution .guilabel,
.warning .guibutton, .warning .keycap,{
color: white;
}

div.note .guilabel, div.important .guilabel, div.warning .guilabel {
	color:#e3dcc0;
}

.note h2, .tip h2, .important h2, .caution h2, .warning h2 { border: none; }
.book h3.title, .section h3.title,
.preface h3.title, .chapter h3.title { font-size: medium; }

.appendix h2, .book h2, .preface h2, .section h2, .chapter h2 {
	background-color:transparent;
	color:#A70000;
	font-family:"liberation sans","Bitstream Vera Sans","Lucida Grande","Trebuchet MS",helvetica,verdana,arial,sans-serif;
	line-height:130%;
	margin-top:0em;
	border-bottom: none;
	font-size: medium;
}

p#title { display: none; }

hr { border-bottom: 1px dotted #ccc; height: 1px;}

.copyright { color: #bbb; }

.book .toc .chapter a, .book .toc .preface a, .book .toc .chapter strong, .book .toc .glossary a, .book .toc .index a { font-size: medium; font-weight: 900 !important;}
.application { font-weight: normal !important; font-style: italic; }
.book .toc .section { font-size: medium; }
.book .toc dd dd .section { font-size: small; !important}

.table h6, .figure h6 { margin-top: 0px; color: #A70000;}

/*** new docs stuff from here on down with mods here and there ***/

/*Lists*/
.preface ol li, .preface ul li,
.chapter ol li , .chapter ol li ,
.book ol li , .section ol li ,
.book ul li, .section ul li
{padding-left:.2em;padding-bottom:.5em;margin:0em;}

.book ul, .section ul, .preface ul, .chapter ul {padding-left:1.6em;list-style-image:url(../img/docs/dot.png);list-style-type: circle;}
.book ul ul, .section ul ul, .preface ul ul, .chapter ul ul {list-style-image:url(../img/docs/dot2.png);list-style-type: circle;}
.book dt, .section dt, .preface dt, .chapter dt {font-weight:bold;margin-bottom:0em;padding-bottom:0em;}
.book dd, .section dd, .preface dd, .chatper dd {margin:0em;margin-left:2em;padding-top:0em;}
.book li p:first-child, .book dd p:first-child,
.section li p:first-child, .section dd p:first-child,
.preface li p:first-child, .preface dd p:first-child,
.chapter li p:first-child, .chapter dd p:first-child
{padding:0em;margin-top:.3em;}

.variablelist,.itemizedlist{margin-top:.6em;}
.chapter ul li p:first-child, .preface ul li p:first-child, .book ul li p:first-child, .section ul li p:first-child {margin:0em;}
/*images*/
.book img, .section img, .preface img, .chapter img {display:block;margin:2em 0;}
.inlinemediaobject,.inlinemediaobject img{display:inline !important;margin:0em;}

.figure img{display:block; margin:0;}
.figure .title{margin:0em; margin-bottom:2em !important; padding:0px;}

/*document modes*/

dt a{font-weight: normal;}
.longdesc-link{display:none;}
.prompt{background-color:#ede7c8;padding:0em .3em;}

/*user interface styles*/
.screen .replaceable {color:#444;}
.screen{background-color:#ede7c8;color:#333;padding:.5em 1em;margin:0em;-moz-border-radius: 8px;}
pre,code,.guibutton,.keycap,.guilabel{font-size:0.9em;font-family:"liberation mono", "Bitstream vera mono",monospace;}
.guibutton,.keycap,.guilabel{font-weight:bold;/*white-space:nowrap;*/color:#444;font-family:"liberation sans", "Bitstream vera sans", "dejavu sans" sans-serif;}
.guibutton,.guilabel{}
.keycap{padding: .1em .4em;}
.example {background-color:#c8c5ac; padding:5px; margin-bottom:10px;}


/*terminal/console text*/
.command,
.computeroutput,
.filename,
.citetitle,
.replaceable,
.option{font-weight:bold;}
.command .replaceable{color:#555;}
pre{display:block;background-color:#f7f2d0;color:#333;overflow:auto;}
pre code, code{white-space:normal;}

/*Notifications*/
div.note,div.tip ,div.important ,div.caution ,div.warning{
	background: #555753; 
	color:white;
	padding:1em;
	padding-bottom:20px;
	margin-top: .5em;
	margin-bottom:1.5em;
	background-repeat:no-repeat; 
	background-position:1em 1em;
}

div.note pre, div.important pre, div.warning pre {
	background-color: #333;
	color: white;
	margin-left: 4.5em;
}

div.note {
	background-image:url(../img/docs/note.png);
	background-color:#8e9f00;
	color:white;
}

div.important  {
	background-color:#d08e13;
	color:white;
	background-image:url(../img/docs/important.png);
}

div.warning {
	background-color:#9e292b;
	color:white;
	background-image:url(../img/docs/warning.png);
}

div.tip{background-image:url(../img/docs/tip.png)}
div.caution{background-image:url(../img/docs/caution.png)}

div.note .replaceable,div.tip .replaceable,div.important .replaceable,div.caution .replaceable,div.warning .replaceable{
	color:#e3dcc0;
}

pre .replaceable, tt .replaceable{
	color:#444 !important;
}

/* Admonition Headings */
div.note h2, div.important h2, div.warning h2, div.tip h2, div.caution h2  {
	height:32px;
	font-size:1.3em;
	color:white;
}

div.note .guilabel,div.tip .guilabel,div.important .guilabel,div.caution .guilabel,div.warning .guilabel{color:white !important;}

div.note li,div.tip li,div.caution li,div.warning li,div.important li{
	padding-left:10px;margin:0em;
}

div.note ul,div.tip ul,div.caution ul,div.warning ul,div.important ul{
	padding-left:40px;margin:0em;
}

div.note pre pre a:visited,div.tip pre pre a:visited,div.important pre pre a:visited,
div.caution pre pre a:visited,div.warning pre pre a:visited,div.note pre a:link,
.tip pre a:link,div.important pre a:link,div.caution pre a:link,div.warning pre a:link{
	color:#0066cc !important;
}

div.note a:visited,div.tip a:visited ,div.important a:visited ,div.caution a:visited ,
div.warning a:visited,div.note a:link ,div.tip a:link ,div.important a:link ,div.caution a:link ,div.warning a:link{
	color:#f7f2d0;
}

/*notification icons*/
div.note h2,div.note p,div.tip h2,div.tip p,div.caution h2,div.caution p,div.warning h2,div.warning p,div.important h2,.important p,
div.note .para, div.tip .para, div.caution .para, div.warning .para, .important .para {
	padding:0em;
	margin:0em;
	padding-left:56px !important;
}

/*Page Title*/
#title strong{display:none;}
#title a{display:block;height:45px;width:110px;padding-left:200px;background:transparent url(../images/rhlogo.png) top left no-repeat;}
#title{display:block;height:45px;background:transparent url(../images/documentation.png) top right no-repeat;padding-bottom:1em;}

/*Table*/

.chapter .table table,
.book .table table,
.preface .table table,
.section .table table
{border:1px solid #aaa;width:100%;border-collapse:collapse; background-color: white;}

.chapter .table table th,
.book .table table th,
.preface .table table th,
.section .table table th
{text-align:left;background-color:#900;padding:.3em .5em;color:white;}

.chapter .table table td,
.book .table table td,
.preface .table table td,
.section .table table td
{padding:.15em .5em;}

.chapter .table table tr.even td,
.book .table table tr.even td,
.preface .table table tr.even td,
.section .table table tr.even td
{background-color:#f5f5f5;}

.chapter .table table th p:first-child,table td p:first-child,table  li p:first-child,
.book .table table th p:first-child,table td p:first-child,table  li p:first-child,
.preface .table table th p:first-child,table td p:first-child,table  li p:first-child,
.section .table table th p:first-child,table td p:first-child,table  li p:first-child
{margin-top:0em;padding-top:0em;display:inline;}

.chapter th, .chapter td,
.book th, .book td,
.preface th, .preface td,
.secion th, .section td
{border-style:none;}

.chapter .table table table td,
.book .table table table td,
.preface .table table table td,
.section .table table table td
{border-bottom:1px dotted #aaa !important;padding:.6em 0em;}
.chapter .table table table,
.book .table table table,
.preface .table table table,
.section .table table table
{border:1px solid white !important;font-size:.9em;}


td.remarkval{font-size:.9em;color:#444;}
.defaultval{font-size:.8em}
td.typeval{font-size:.8em}

td.fieldval{font-weight:bold; font-size:.9em;}

th.dbkey{font-size:.9em;}

.lbname,.lbtype,.lbdescr,.lbdriver,.lbhost{color:white;font-weight:bold;background-color:#999;font-size:0.9em;width:120px;}
td.remarkval{width:230px;}

td.tname{font-weight:bold;font-size:1.1em;}
h5{font-size:9pt;}
h6{font-size:10pt;}
th.dbfield{width:120px;}
th.dbtype{width:70px;}
th.dbdefault{width:70px;}
th.dbnul{width:70px;}
th.dbkey{width:70px;}

span.book{margin-top:4em;display:block;}
span.chapter{display:block;margin-top:0.5em;}

/*Breadcrumbs*/
#breadcrumbs ul li.first:before{content:" ";}
#breadcrumbs{color:#900;padding:3px;margin-bottom:25px;}
#breadcrumbs ul{margin-left:0;padding-left:0;display:inline;border:none;}
#breadcrumbs ul li{margin-left:0;padding-left:2px;border:none;list-style:none;display:inline;}
#breadcrumbs ul li:before{content:"\0020 \0020 \0020 \00BB \0020";color:#333;}

/*status*/
.alpha1{background: white url(../images/watermark-alpha1.png) top left repeat;}
.alpha2{background: white url(../images/watermark-alpha2.png) top left repeat;}
.beta1{background: white url(../images/watermark-beta1.png) top left repeat;}
.beta2{background: white url(../images/watermark-beta2.png) top left repeat;}
.pre-release-candidate{background: white url(../images/watermark-pre-release-candidate.png) top left repeat;}
.release-candidate{background: white url(../images/watermark-release-candidate.png) top left repeat;}

/*index*/
.glossary h3,
.index h3{font-size: 2em;color:#aaa;margin:0em;}
.indexdiv{margin-bottom:1em;}
.glossary dt,.index dt{font-size:.9em;color:#444;padding-top:.5em;}
.glossary dl dl dt,
.index dl dl dt{font-size:.85em;color:#777;line-height:1.2em;font-weight:normal;padding-top:0em;}
.index dl dl dt:before{content:"- ";color:#ccc;}

/*changes*/
.footnotes{}
.footnote {padding:.2em 1em;background-color:#c8c5ac;font-size: .9em;margin:0em;margin-bottom:.5em;color:#222;}
table .footnote{margin:1em .5em;}
sup{padding:0em .3em;padding-left:0em;}
.footnote{position:relative;}
.footnote sup  {color:#e3dcc0;font-size:1.8em;position:absolute;left: .4em;}
.footnote sup a:link,
.footnote sup a:visited{color:#92917d;text-decoration:none;}
.footnote:hover sup a{color:#fff;text-decoration:none;}
.footnote p{padding-left:5em;}
.footnote a:link,
.footnote a:visited{color:#00537c;}
.footnote a:hover{color:white;}

li p:first-child{margin:0em !important; padding:0em !important;}

/**/
div.preface, div.chapter, div.section {padding-top:2em;}

.revhistory{font-size:}


pre .keycap{color:white;}
pre{font-family:"liberation mono", "bitstream vera mono", "dejavu mono" monospace;}
pre .replaceable, tt .replaceable {
	color:#444;
}

/* Admonition Inlines */
div.note .replaceable, div.important .replaceable,  div.warning .replaceable {
	color:#e3dcc0;
}

div.note .keycap,
div.tip  .keycap,
div.important .keycap,
div.caution  .keycap,
div.warning .keycap,
{color:white;}
div.abstract{font-size:larger;}

.authorgroup {}
.authorgroup h4{padding:0em; margin:0em;margin-top:1em;}
.author, .editor, .translator, .othercredit{display:block;}

ul li p:last-child{margin-bottom:0em; padding-bottom:0em;}

/*document navigation*/
.docnav a, .docnav strong {
	border:none;
	text-decoration:none;
	font-weight:normal;
}

.docnav {
	list-style:none;
	margin:0em;
	padding:0em;
	position:relative;
	width:100%;
	padding-bottom:2em;
	padding-top:1em;
	border-top:1px dotted #ccc;
}

.docnav li {
	list-style:none;
	margin:0em;
	padding:0em;
	display:inline;
	font-size:.8em;
}

.docnav li:before {
	content:" ";
}

.docnav li.previous, .docnav li.next {
	position:absolute;
	top:1em;
}

.docnav li.up, .docnav li.home {
	margin:0em 1.5em;
}

.docnav li.previous {
	left:0px;
	text-align:left;
}

.docnav li.next {
	right:0px;
	text-align:right;
}

.docnav li.previous strong, .docnav li.next strong {
	height:22px;
	display:block;
}

.docnav {
	margin:0 auto;
	text-align:center;
}

.docnav li.next a strong {
	background:  url(../img/docs/stock-go-forward.png) top right no-repeat;
	padding-top:3px;
	padding-bottom:4px;
	padding-right:28px;
	font-size:1.2em;
}

.docnav li.previous a strong {
	background: url(../img/docs/stock-go-back.png) top left no-repeat;
	padding-top:3px;
	padding-bottom:4px;
	padding-left:28px;
	padding-right:0.5em;
	font-size:1.2em;
}

.docnav li.home a strong {
	background: url(../img/docs/stock-home.png) top left no-repeat;
	padding:5px;
	padding-left:28px;
	font-size:1.2em;
}

.docnav li.up a strong {
	background: url(../img/docs/stock-go-up.png) top left no-repeat;
	padding:5px;
	padding-left:28px;
	font-size:1.2em;
}

.docnav a:link, .docnav a:visited {
	color:#666;
}

.docnav a:hover, .docnav a:focus, .docnav a:active {
	color:black;
}

.docnav a {
	max-width: 10em;
	overflow:hidden;
}

.docnav a:link strong {
	text-decoration:none;
}

.docnav {
	margin:0 auto;
	text-align:center;
}

ul.docnav {
	margin-bottom: 1em;
}

