/** styles for indicating status in the webui **/

.system-status {
        text-align: center;
}
.system-status img {
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 2px;
}
.system-update-critical {
        font-weight: bold;
        color: #900;
}

.system-status-critical-updates {
        font-weight: bold;
        color: #c00;
}
.system-status-updates {
        font-weight: bold;
        color: #d80;
}

.system-status-bugfixes {
        font-weight: bold;
        color: #337;
}
.system-status-enhancements {
        font-weight: bold;
        color: #595;
}
.system-status-updates-scheduled {
        font-weight: bold;
}
.system-status-up-to-date {
        font-weight: bold;
        color: #68d;
}
.system-status-unentitled {
        font-weight: bold;
        color: #333;
}
.system-status-awol {
        font-weight: bold;
        color: #f63;
}
.system-status-locked {
        font-weight: bold;
        color: #f63;
}

.system-status-kickstart {
        font-weight: bold;
        color: #f90;
}

.osa-offline {
    font-weight: bold;
     color: #900;
}

.osa-online {
    font-weight: bold;
    color: #68d;
}

.probe-status-critical {
        font-weight: bold;
        color: #c00;
}

.probe-status-unknown {
        font-weight: bold;
        color: #f63;
}
