/* this is for site-info and site-error info boxes */

.site-info {
        background-color:       #6182ab;
        color:                  white;
        text-align:             center;
        padding:                8px;
        margin-bottom:          7px;
        margin-top:             4px;
        font-size:              medium;
        border-radius: 10px;
}

.site-info a:link {
        color:              white;
        font-weight:        bold;
        text-decoration:    underline;
}

.site-info a:visited {
        color: #99ddff;
        font-weight: bold;
}

.site-alert {
        background-color:       #b70000;
        color:                  white;
        text-align:             center;
        padding:                8px;
        margin-bottom:          7px;
        margin-top:             4px;
        font-size:              medium;
        border-radius: 10px;
}

.site-alert ul {
        list-style: none;
}

.site-alert a:link {
        color:              white;
        font-weight:        bold;
        text-decoration:    underline;
}

.site-alert a:visited {
        color: #ffcccc;
        font-weight: bold;
}

.local-info {
        color: #7782aa;

        text-align: left;
        font-size: 14px;
}

.local-alert {
    color: #d00;
    padding-top:7px;
    padding-left:4px;
    text-align: left;
    font-size: 14px;
}

.site-info ul,
.site-alert ul {
margin: 0px;
}
