/* -- General list stuff -- */
table.list, table.list-doubleheader {
        border-radius: 10px 10px 0px 0px;
        font-size: 10px;
        width: 100%;
}

table.list-doubleheader tr + tr th:last-child {
    background: none;
}

th.thin-column, td.thin-column {
        text-align: center;
	white-space: nowrap;
}

.list-checkbox {
        text-align: center;
}

.list-checkbox-header {
        text-align: center;
}

.list th a {
        display: inline;
        }

.list a:hover {
        text-decoration: underline;
}

.list tr.greyed-out, .list tr.greyed-out a:link, .list tr.greyed-out a:visited {
    color: #999;
}

/* list row classes */
.list-row-odd td {
        background-color: #ffffff;
}

.list-row-even td, .list-row-odd td,
.list-row-virtual-host-even td, .list-row-virtual-host-odd td,
.list-row-virtual-even td, .list-row-virtual-odd td
{
        padding: 4px 8px;
}

/* For virtual system list*/
.list-row-virtual-host-even td {
        background-color: #E9E3D6;
}
.list-row-virtual-odd td {
        background-color: #FFFFFF;
}
.list-row-virtual-even td {
        background-color: #F6F4EF;
}

.list-row-virtual-host-odd td,
.list-row-virtual-host-even td {
        border-top: 1px solid #B4B19A;
}

/* Your RHN widget classes */

div.half-table-left {
    float: left;
    width: 50%;
}

div.half-table-right {
    float: right;
    width: 50%;
}

table.half-table {
        border-radius: 10px 10px 0px 0px;
        padding: 0px;
        margin: 0px;
        width: 97%;
}

div.full-width-wrapper {
    clear: both;
    padding-top: 30px;
}

span.full-width-note-left {
    float: left;
}

span.full-width-note-right {
    float: right;
}

/* special column classes */
th + th {
        border-left: 0;
}
a[name]:hover {
        color: inherit;
}

/* --- TABLE TREE VIEW --- */
tr.table-tree-even td, tr.table-tree-odd td {
   padding: 10px 15px;
}
tr.table-tree-even img,
tr.table-tree-odd img {
   margin-left: 4px;
}

tr.table-tree-even {
   background-color: #fff;
}

/* padding for parent+child channels  */
tr.table-tree-even + tr.table-tree-even td,
tr.table-tree-odd + tr.table-tree-odd td {
   padding-top: 0;
}


table.namespaces {
        font-size: 10px;
        border: 1px solid #999;
}

table.list-pagination {
        font-size: 10px;
}

.list-empty-message {
  margin: 0 2%;
  cursor: text;
}

/** filterbox styles **/

div.filter-input table {
  width: 100%;
}

div.filter-input td {
  width: 40%;
}

div.filter-input input {
  vertical-align: middle;
  font-size: 10px;
}

/** alphabar styles **/

.list-alphabar {
        text-align: right;
        font-size: 12px;
        white-space: nowrap;
}
.list-alphabar a {
        padding: 0px 2px;
}
.list-alphabar-enabled {
        padding: 0px 2px;
}
.list-alphabar-disabled {
        padding: 0px 2px;
        color:  #aaa;
        cursor: default;
}

.list-navbuttons {
        white-space: nowrap;
        text-align: right !important;
}

.list-sizeselector {
  text-align: left !important;
  font-size: small;
}

.list-infotext {
        width: 100% !important;
	text-align: right !important;
        white-space: nowrap;
        color: #777;
        float: left;
}
.list-channel a {
}
.list-channel ul {
        padding: 0;
    margin: 0;
}
.list-channel li {
        list-style: none;
}
.list-channel li + li {
        padding-top: 0;
}
.list-channel li + li li {
        padding-top: 0;
}
.list-channel li li {
        list-style-image: url("/img/branch.gif");
        margin-left: 2.5em;
}

ul.channel-list li {
        list-style-image: url("/img/rhn-bullet.gif");
}

ul.channel-list li.child-channel {
        list-style-image: url("/img/channel_child_node.gif");
        margin-left: .4em;
}

ul.channel-list li.highlighted {
        background-color: yellow;
}

table.namespace-control {
  padding:  4px;
}

.namespace-control tr {
        vertical-align:  middle;
}

.namespace-control td {
        padding: 4px;
}

.namespace-control-buttons td {
        padding:  4px;
        vertical-align:  middle;
}

th {
        padding: 4px 6px;
        color: #fff;
        text-align: left;
        font-size: small;
}

/* --- Cool list sorting stuffs --- */

/* the following classes add an arrow graphic in the column header */

th.ascSort a {
   padding-right: 20px;
   background-image: url('/img/rhn-listicon-arrow-ascend.gif') !important;
   background-repeat: no-repeat;
   background-position: 100% 60% !important;
}

th.descSort a {
   padding-right: 20px;
   background-image: url('/img/rhn-listicon-arrow-descend.gif') !important;
   background-repeat: no-repeat;
   background-position: 100% 60% !important;
}

th.ascSort:first-child, th.descSort:first-child {
  border-radius: 10px 0 0 0;
}

th.ascSort:last-child, th.descSort:last-child {
  border-radius: 0 10px 0 0;
}

/* the following classes highlight the first row of an alphabar jump */

tr.alphaResult td.sortedCol {
      padding-left: 20px;
      background-image: url('/img/list-forward.gif');
      background-repeat: no-repeat;
      background-position: left center;
}

.list-button-row,
.list-button-row td {
  background-color: #888 !important;
  border-right: none !important;
}

.list-button-row td {
  padding: 10px 5px;
}

.list-row-even .list-column-even {
  background-color: #eee;
}

.list-row-odd .list-column-even {
  background-color: #e4e4e4;
}

.inactive {
  background-color: #fef5ad;
  margin-bottom: 5px;
}

.compare-list .inactive {
  background-color: #fef5ad;
  margin-bottom: 5px;
}

.compare-list td:first-child {
  background-color: #e4e4e4;
  border-right: 1px solid #b4b19a;
}

.compare-list ul {
  list-style: none outside !important;
  padding: 0px;
}

/** CSV download widget **/


.csv-download {
	width:			20%;
	padding: 		3px 6px;
        border-radius:	8px;
	text-align: center;
}

.csv-download img {
	margin-right: 		4px;
	vertical-align: 	bottom;
}

.csv-download a {
	font-weight:		bold;
}

/** Highlightning of hovered rows **/

.list-row-odd:hover td {
        background-color: #d8d8d8;
}

.list-row-even:hover td {
        background-color: #d8d8d8;
}

.list-row-even:hover td.sortedCol  {
  background-color: #d0d1ff;
}

.list-row-odd:hover td.sortedCol  {
  background-color: #d0d1ff;
}
