/* spacewalk specific coloring and styles */

.csv-download {
    background-color: #EAE8E4;
}
tr.alphaResult td.sortedCol {
      background-color: #c0c0c0;
}

tr.alphaResult td {
   background-color: #d7d7d7;
}

/* the following classes darken all rows in the currently-sorted column */
.list-row-even td.sortedCol  {
  background-color: #d0e2f5;
}

.list-row-odd td.sortedCol  {
  background-color: #ebf3fb;
}

th.ascSort, th.descSort {
   background-color: #9bc5f0 !important;
}

tr.table-tree-odd {
   background-color: #eae8e4;
}

table.list, table.list-doubleheader {
    background: #c0c0c0;
    border: 1px solid  #c0c0c0;
}

table.list-doubleheader tr + tr {
  background-color: #d7d7d7;
}

table.list-doubleheader tr + tr th:first-child {
    background-color: #d7d7d7;
}

.list-checkbox {
    border-left: 1px solid #c0c0c0;
}

.list-row-even td {
        background-color: #eae8e4;
}

.list-row-virtual-host-odd td {
        background-color: #eae8e4;
}

table.half-table {
    background: #c0c0c0;
    border: 1px solid #c0c0c0;
}

#utilityAccount {
    background: #767676;
    background: linear-gradient(to bottom, #838383 0%, #767676 100%);
    background: -o-linear-gradient(top, #838383 0%, #767676 100%);
    background: -webkit-linear-gradient(top, #838383 0%, #767676 100%);
}

.wrap {
    width: 92%;
    text-align: left;
    background: #fff;
    padding: 0 15px 0 15px;
    min-width: 760px;
    margin: 0 auto;
}

body {
    background: black;
}

/* Spacewalk only */
#utilityAccount a:link,
#utilityAccount a:hover,
#utilityAccount a:active,
#utilityAccount a {
        color:                  white;
}

#utilityLinks a:link,
#utilityLinks a:hover,
#utilityLinks a:active,
#utilityLinks a {
	color: 			white;
}

#top-wrap {
       border-bottom:  4px solid #00aad4;
       background:     #959595 url('/img/spacewalk-header-background.png');
}

#bottom-wrap {
       padding-top:    10px;
}

li#mainFirst-active,
#mainNav li#main-active,
#mainNav li#mainLast-active,
div#mainNavWrap ul li#main-active,
div#mainNavWrap ul li#mainLast-active {
	background-color: #383838;
}

#bar {
	background-color: #383838;
}