/*spacewalk css theme*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300
}
header{
	width: 100%;
	background: url('../../img/spacewalk-header-background.png') repeat-x #555;
}
footer{
	padding: 1.2em 0;
	background: #333;
	color: #fff;
	font-weight: normal;
	font-size: 0.9em
}
aside.col-md-2{
	background: #dedede;
	/* for the body div to make both columns the same size*/
	margin-bottom:-9999px;
	padding-bottom: 9999px;
	padding-right: 0
}
section{
	background: #f7f7f7;
	/* for the body div to make both columns the same size*/
	margin-bottom:-9999px;
	padding-bottom: 9999px 
}
/* for the body div to make both columns the same size*/
.row.body-container{
	overflow: hidden;
	min-height: 100%
}
/* adding margin to the icons in fontawesome */
[class^="icon-"],
[class*=" icon-"],
[class*="spacewalk-icons"],
[class^="spacewalk-icons"] {
  margin-right: .5em;
}

header .row{
	margin: 0 1em 
}
header .logo{
	padding:1.2em 0 0  0;
}
header form{
	margin: .9em 0 1em 0
}
header .nav-pills{
	display: inline-block;
	border-radius: 0 0 4px 4px
}
header .nav-pills li > a{
	padding: .3em 1em;
	font-size: .85em;
	color: #fff;
	font-weight: normal;
	letter-spacing: normal;
}
header .nav-pills li > a:hover{
	background: none;
	text-decoration: underline;
}
header ul.nav-pills:nth-child(1){
	background: #000;
}
header ul.nav-pills:nth-child(2){
	background: #333;
}
header ul.nav-pills:nth-child(3){
	background: #666;
}
header ul.nav-pills:nth-child(2) li{
	border-left: 1px #000 solid
}
header ul.nav-pills:nth-child(2) li{
	border-left: 1px #222 solid
}
header ul.nav-pills:nth-child(3) li{
	border-left: 1px #555 solid
}
header ul.nav-pills li:first-child {
	border-left: 0
}
header .navbar-nav > li > a{
	padding: .5em 2em;
}
header .navbar-nav > li:hover{
	background: #00aad4
}
header form input[type="search"]{
	padding: 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* reseting navbar styles for the main menu */
header  .spacewalk-main-nav{
	margin: 0;
	border-radius: 0
}
.spacewalk-main-nav{
	border: 0
}
.spacewalk-main-nav:after{
	height: 4px;
	background: #00aad4;
	width: 100%
}
header .navbar{
	min-height: .5em;
}
/* style for Menu in the left column */
#sidenav a{
	color: #444
}
#sidenav li.active > a{
	color: #fff
}
#sidenav li > a{
	border-radius: 0
}
#sidenav ul li:last-child{
	border-bottom: 1px solid #ccc;
	-moz-box-shadow: 1px 1px 1px #fefefe;
	-webkit-box-shadow: 1px 1px 1px #fefefe;
	box-shadow: 1px 1px 1px #fefefe;
}

/* ul-submenues */
#sidenav ul>ul li{
    padding: 0 0 0 1em !important;
    margin: 0;
    background: #cdcdcd
}
#sidenav ul>ul li:hover, #sidenav ul>ul li a:hover{
	background: #bcbcbc
}
#sidenav ul>ul li:last-child{
	border-bottom: 1px solid #b6b6b6;
}
#sidenav ul>ul>ul li{
    padding: 0 0 0 1.5em !important;
    margin: 0;
    background: #a8a8a8
}
#sidenav ul>ul>ul li:hover, #sidenav ul>ul>ul li a:hover{
	background: #9b9b9b
}
#sidenav ul>ul>ul li:last-child{
	border-bottom: 1px solid #898989;
}
aside ul > ul li{
	list-style: none;
	padding: 0
}

/* TABLES */
.table > thead > tr.active > th{
	background: #f5f5f5 
}

/* Icons Legend */
aside .sideleg{
	background: #ccc;
	width: 90%;
	padding: .5em 1em;
	border-radius: 4px;
	margin: 2em auto;
	font-size: .8em
}
aside .sideleg li{
	list-style: none;
	margin: 1em 0;
	padding:0;
}
aside .sideleg ul{
	margin: 0;
	padding: 0
}
