/* Main HTML5 tags defined for the theme */
body {
	background: #f7f7f7;
}
html, body {
	height: 100%
}
header {
	width: 100%;
	background: url('../../img/spacewalk-header-background.png') repeat-x @gray;
}
footer {
	padding: 1.2em 0;
	background: @gray-dark;
	color: #fff;
	font-weight: normal;
	font-size: 0.9em;
	height: 80px;
	clear: both;

	.make-row(0);

	div:nth-child(1) {
		.make-xs-column(8);
		.text-center;
		.make-sm-column-offset(2);
	}
	div:nth-child(2) {
		.make-xs-column(2);
		.text-right;
		.hidden-xs;
	}
}

section {
	/* for the body div to make both columns the same size*/
	height: auto;
	min-height: 100%;
}
/* titles */
h1, h2, h3, h4 {
	.Roboto-thin
}
h1 {
	font-size: 2em
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}

/* basic layout */
.row-0 {
	.make-row();
	&:first-child {
		padding-left:0;
	}
	&:last-child {
		padding-right: 0
	}
}
.spacewalk-header-container {
	.make-row(0);
	.spacewalk-logo {
		.make-xs-column(5);
		padding-left: 0;
	}
	.spacewalk-header-links {
		.make-xs-column(7);
		.text-right;
		padding-right: 0;
	}
}

.spacewalk-main-column-layout {
	.make-row(0);
	overflow: hidden;
	min-height: 100%;
	aside {
		.make-md-column(2);			
	}
	section {
		.make-md-column(10);
	}
}


.spacewalk-main-column-layout {
	/* override the grid row margin */
	margin-right: 0;
	margin-left: 0;
 	aside {
		background: #eeeeee;
		border-right: 1px solid #d5d5d5;
		height: auto;
		min-height: 100%;
		/* 100% height */
		margin-bottom: -9999px;
		padding-bottom: 9999px;
		/* erasing the predefined paddings in the columns */
		padding-right: 0;
		padding-left: 0;
	}

	/* fixing margins in the 1st and last columns */
	section {
		padding-left:2em;
		padding-right: 2em;
		padding-bottom: 3em;
		/* some animation */
		transition: width 2s, height 2s, transform 2s;
    	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    }
}

/* fixing the footer to the bottom */
.spacewalk-top-wrap {
	overflow: hidden;
	margin-bottom: -80px;
	padding-bottom: 80px;
	height: auto !important;
	min-height: 100%
}
/* style for the login page */
.login-page {
	width: 70%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}


header {
	.spacewalk-header-container {
	  margin: 0 1em;
	}
	/* undo the padding the grid columns give */
	&#spacewalk-header {
		padding-right: 0;
		padding-left: 0
	}
	.spacewalk-logo {
		padding-top: 1.4em;
	}
	.nav-pills {
		display: inline-block;
		border-radius: 0 0 4px 4px
	}
	.nav-pills li > a {
		padding: .3em 1em;
		font-size: .85em;
		color: #fff;
		font-weight: normal;
		letter-spacing: normal;
	}
	.nav-pills li > a:hover {
		background: none;
		text-decoration: underline;
	}
	ul.nav-pills:nth-child(1) {
		background: #000;
	}

	ul.nav-pills:nth-child(2) {
		background: #333;
	}

	ul.nav-pills:nth-child(3) {
		background: #666;
	}

	ul.nav-pills:nth-child(2) li {
		border-left: 1px #222 solid
	}

	ul.nav-pills:nth-child(3) li {
		border-left: 1px #555 solid
	}

	ul.nav-pills li:first-child {
		border-left: 0
	}

	.navbar-nav > li > a {
		padding: .5em 1.2em;

	}

	.navbar-nav > li:hover {
		background: @spacewalk-blue;
		.border-rounded(4px; 4px; 0; 0);
	}

	form input[type="search"] {
		padding: 0px 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.btn.btn-info.input-sm {
		padding-top: 4px
	}

	/* reseting navbar styles for the main menu */
	.spacewalk-main-nav {
		margin: 0;
		border-radius: 0
	}

	.navbar {
		min-height: .5em;
	}

	/* Systems selector inside the main menu in the header */
	#bar {
		color: #fff;
	}
	#bar .spacewalk-bar {
		padding: .5em 1.2em;
		text-align: right;
		display: none;
	}
	#bar .spacewalk-bar .badge {
		margin-right: .5em
	}
}


//PAGINATOR from 0 - 9 and A - Z

.spacewalk-alphabar{
	padding-bottom: .3em;
	&.pagination{
		margin: 0
	}
	&.pagination > li > a, .pagination > li > span{
		border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		border-left: 0;
		border-right: 0;
		font-size: .9em;
	}
	&.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span{
		border-left: 1px solid #dddddd;
		padding-left: 8px;
	}
	&.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span{
		border-right: 1px solid #dddddd;
		padding-right: 8px;
	}
	&.pagination-sm > li > a, .pagination-sm > li > span{
		padding: 4px;
	}
	&.pagination-sm > li:nth-child(11) > a{
		border-left: 1px solid #dddddd;
		padding-left: 10px;
	}
	&.pagination-sm > li:nth-child(10) > a{
		padding-right: 10px;
	}
}

// Filter by system: button besides the input search
.spacewalk-button-filter{
	border-left: 0;
	color: #666666;
	background-color: #ffffff;
	border-color: #cccccc;
}

//Table's filters
.filter-input{
	padding: .7em;
	.col-md-3{
		padding-left: 0
	}
	.col-md-9{
		padding-right: 0
	}
}
.display-number{
	.input-sm;
	display: inline-block;
	width: 5em;
	border: 1px solid #dddddd;
}
.view-systems-registered{
	.input-sm;
	width: 10em;
	display: inline-block;
	border: 1px solid #dddddd;
}

/* Icons Legend */
aside .sideleg {
	background: lighten(@gray-lighter, 10%);
	width: 90%;
	padding: .5em 1em;
	border-radius: 4px;
	margin: 2em auto;
	.hidden-sm;
	.hidden-xs;
	li {
		list-style: none;
		margin: 1em 0;
		padding:0;
	}
	ul {
		margin: 0;
		padding: 0
	}
}
// Main horizontal menu
.spacewalk-main-nav {
	border: 0
}
.spacewalk-main-nav:after {
	height: 4px;
	background: @spacewalk-blue	;
	width: 100%
}

/* style for Menu in the left column */
.nav-stacked > li + li {
	margin-top: 0;
}

//Menu in left column
aside ul > ul li {
	list-style: none;
	padding: 0
}
aside .nav > li > a {
	padding: .4em 1em
}
#sidenav {
	a {
		color: #666;
		.glow-text;
	}
	a:before {
		content: "\f105 ";
		font-family: 'FontAwesome';
		margin-right: .5em
	}
	li {
		border-bottom: 1px solid #d8d8d8;
	}
	li.active > a, #sidenav li.active > a:hover {
		color: @spacewalk-blue;
		background: @spacewalk-list-menu-active;
	}
	li > a {
		border-radius: 0
	}
	ul li:last-child {
		border-bottom: 1px solid #ccc;
		-moz-box-shadow: 0px 1px 1px #fefefe;
		-webkit-box-shadow: 0px 1px 1px #fefefe;
		box-shadow: 0px 1px 1px #fefefe;
	}

	/* ul-submenues */
	/* first submenu */
	ul>ul li {
	    padding: 0 0 0 1em !important;
	    margin: 0;
	    background: @spacewalk-list-first-submenu;
	    border-bottom: 1px solid #ccc;
	}
	ul>ul li.active,
	ul>ul li.active:hover,
	ul>ul li.active a,
	ul>ul li.active a:hover {
		background: @spacewalk-list-first-submenu-active;
		.glow-text-deleted;
	}
	ul>ul li:hover, ul>ul li a:hover {
		background: @spacewalk-list-first-submenu-hover;
	}
	ul>ul li:last-child {
		border-bottom: 1px solid #c6c6c6;
	}
	/* second submenu */
	ul>ul>ul li {
	    padding: 0 0 0 1.5em !important;
	    margin: 0;
	    background: @spacewalk-list-second-submenu;
	    border-bottom: 1px solid #bbb;
	}
	ul>ul>ul li.active,
	ul>ul>ul li.active:hover,
	ul>ul>ul li.active a,
	ul>ul>ul li.active a:hover {
		background: @spacewalk-list-second-submenu-active;
		.glow-text-deleted;
	}
	ul>ul>ul li:hover, ul>ul>ul li a:hover {
		background: @spacewalk-list-second-submenu-hover;
	}
	ul>ul>ul li:last-child {
		border-bottom: 1px solid #c4c4c4;
	}

}

/* question symbol for help pop up*/
h1 .fa-stack .fa-question {
	font-size: .6em;
}
h1 .fa-stack {
	width: 1em;
	height: 1em;
	line-height: .7em;
}
.fa-stack .fa-circle {
	font-size: .7em;
	color: @spacewalk-blue;
}

// Panels: reseting default margins and paddings in H tags
.panel .panel-heading{
	h1, h2, h3, h4, h5, h6{
		padding: 0;
		margin: 0;
	}
}
//Panels: deleting border-top in the first row of a table contained within a Panel class
.panel-body tr:first-child{
	td, th{
		border-top: 0;
	}
}

/* systems selected tool*/
.spacewalk-bar i, .spacewalk-toolbar>a, #spacewalk-bar-off i {
	cursor: pointer;
}
.spacewalk-bar i {
	padding: 0 .3em;
}
#show-systems-bar {
	padding: .5em 1.2em;
	background: #fff;
	border:1px solid #ccc;
	border-radius: 0 0 4px 4px;
}

/* spacewalk toolbar: contains the H1 of each page + the toolbar */
.spacewalk-toolbar-h1 {
	margin-bottom: 1.5em;
	.spacewalk-toolbar {
		.pull-right;
		padding: .5em 1em;
		a {
			border-right:1px solid @gray-light;
			padding: 0 .5em
		}
		a:hover {
			text-decoration: none;
		}
		a:last-child {
			border-right:0
		}
	}
}

/* systems selected manager */
.spacewalk-bar a.button:first-of-type {
	color: #ffffff;
	background-color: #5bc0de;
	border-color: #46b8da;
	padding: .2em .6em;
	border-radius: 4px;
	margin: 0 .2em
}
.spacewalk-bar a.button:last-of-type {
	color: #333;
	background-color: #e2e2e2;
	border-color: #d4d4d4;
	padding: .2em .6em;
	border-radius: 4px
}

/* Margins to elements */
//margins bottom
.margin-bottom-xs {
	margin-bottom: .5em; 
}
.margin-bottom-sm {
	margin-bottom: 1em;
}
.margin-bottom-md {
	margin-bottom: 2em;
}
.margin-bottom-lg {
	margin-bottom: 3em;
}
//margins top
.margin-top-xs {
	margin-top: .5em; 
}
.margin-top-sm {
	margin-top: 1em;
}
.margin-top-md {
	margin-top: 2em;
}
.margin-top-lg {
	margin-top: 3em;
}


/* adding margin to the icons in fontawesome */
i[class~="fa"],
i[class^="icon-"],
i[class*=" icon-"],
i[class*="spacewalk-icon"],
i[class^="spacewalk-icon"] {
	margin-right: .5em;
}
/* if the icon is inside a H tag the margin is a bit smaller*/
h1, h2, h3, h4, h5, h6 {
	i[class~="fa"],
	i[class^="icon-"],
	i[class*=" icon-"],
	i[class^="fa-"],
	i[class*="spacewalk-icon"],
	i[class^="spacewalk-icon"] {
		margin-right: .3em;
	}
}
// icon size smaller than the ones default by Font Awesome
.fa-1-5x {
  font-size: 1.3em;
}
.fa-1-5x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

// alerts
.alert {
  margin: 18px 0;
}

// data lists

.spacewalk-list {

	.spacewalk-list-top-addons {
		.make-row(0);
		.spacewalk-list-alphabar {
			.make-md-column(9);
			.text-left;
			padding-left: 0;
		}

		.spacewalk-list-pagination {
			.make-md-column(3);
			.text-right;
			padding-right: 0;
			.spacewalk-list-pagination-btns {
				padding-left: 0.5em;
			}
		}
		padding-top: 0.5em;
	}

	.spacewalk-list-head-addons {
		padding-top: 0.7em;
		.make-row(0);
		.spacewalk-list-filter {
			.make-md-column(4);
			.text-left;
			padding-left: 0;
			.spacewalk-list-channel-show-hide {
				.pull-right;
				.text-right;
			}
		}
		.spacewalk-list-head-addons-extra {
			.make-md-column(8);
			.text-right;
			padding-right: 0;
		}
	}

	.spacewalk-list-head-extra {
		.make-row();
	}

	.spacewalk-list-footer-addons {
		.make-row(0);
		.spacewalk-list-footer-addons-extra {
			.pull-left;
			.text-left;
		}
		.spacewalk-list-reflinks {
			.pull-right;
			.text-right;
		}
	}
	.spacewalk-list-footer-extra {
	}

	.spacewalk-list-bottom-addons {
		.make-row(0);
		.spacewalk-list-pagination {
			.text-right;
			.pull-right;
		}
		.spacewalk-list-bottom-addons-extra {
		}
	}
}

.spacewalk-csv-download {
	.pull-right;
}


#loginForm+.col-md-6.col-md-offset-3.text-left {
	font-size:.8em;
	margin-bottom:2em;
}

/* btn with margin top and bottom */
.btn.spacewalk-btn-margin-vertical {
	margin: 1em 0
}
//tabs - adding a margin to all tabs
ul.nav.nav-tabs {
	margin-bottom: .2em
}
//tabs - adding a margin button to the last UL
ul.nav.nav-tabs:last-child {
	margin-bottom: 1.5em
}
/* login form */
#loginForm {
	border: 1px solid @gray-light;
	border-radius: @border-radius-base;
	background: @gray-lighter;
	margin-top: 2em;
	margin-bottom:2em;
	padding: 1.5em;
	label {
		text-align: left;
		.Roboto-thin;
		color: @gray;
		font-size: 1.1em
	}
}

// Rewriting
// Jumbotron
// --------------------------------------------------


.jumbotron {
  padding: @jumbotron-padding;
  margin-bottom: @jumbotron-padding;
  font-size: (@font-size-base * 1.3);
  line-height: (@line-height-base * 1.5);
  background-color: transparent;
  border: 1px solid #ccc;

  h1 {
    line-height: 1;
  }
  p {
    line-height: 1.4;
  }

  @media screen and (min-width: @screen-tablet) {
    padding-top:    (@jumbotron-padding * 1);
    padding-bottom: (@jumbotron-padding * 1);

    .container & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1 {
      font-size: (@font-size-base * 3.5);
    }
  }
}