Source: python-rhnlib
Section: python
Priority: extra
Maintainer: Miroslav Suchý <miroslav@suchy.cz>
Build-Depends: python, debhelper (>= 7.0.50~)
Build-Depends-Indep: python-support (>= 0.8)
Standards-Version: 3.9.1
Homepage: https://fedorahosted.org/spacewalk

Package: python-rhnlib
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-openssl
Description: Python libraries for the RHN project
 Collection of base Python modules used by the Red Hat Network
 (http://rhn.redhat.com) and Spacewalk software.
 This is common library used by both clients and server.

