<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap
  PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
  "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="server">
    <select id="getServersByModDateOrId" parameterClass="java.util.Map"
        resultClass="com.redhat.satellite.search.db.models.Server">
            SELECT
                s.id as id,
                s.name as name,
                s.description as description,
                s.info as info
            FROM rhnServer s
            WHERE s.modified > #modified_date#
                and s.id > #id#
    </select>

   <select id="listServersFromId"
   		   parameterClass="long" 
   		   resultClass="com.redhat.satellite.search.db.models.Server">
         SELECT
			s.id,
			s.org_id,
			s.digital_server_id,
			s.server_arch_id,
			s.os,
			s.release,
			s.name,
			s.description,
			s.info,
			s.secret,
			s.creator_id,
			s.auto_deliver,
			s.auto_update,
			s.running_kernel,
			s.last_boot,
			s.provision_state_id,
			s.channels_changed,
			dmi.vendor,
			dmi.system,
			dmi.product,
			dmi.bios_vendor,
			dmi.bios_version,
			dmi.bios_release,
			dmi.asset,
			dmi.board
         FROM rhnServer s,
              rhnServerDmi dmi
         where s.id > #id#
   </select>
   <delete id="deleteLastServer">
   		DELETE rhnIndexerWork where object_type = 'server'
   </delete>
   <insert id="createLastServer"
		   parameterClass="java.util.Map">
		INSERT INTO rhnIndexerWork values ('server', #id#, #last_modified#)
	</insert>
	<update id="updateLastServer"
		    parameterClass="java.util.Map">
		UPDATE rhnIndexerWork SET last_id = #id#, last_modified = #last_modified# where object_type = 'server'
	</update>
	<select id="getLastServerId"
		    resultClass="java.lang.Long">
		SELECT last_id from rhnIndexerWork where object_type='server'
	</select>
	<select id="getLastServerIndexRun"
            resultClass="java.util.Date">
        SELECT last_modified from rhnIndexerWork where object_type='server'
    </select>
	<select id="verifyServerVisibility" resultClass="string">
		SELECT object_id
		FROM rhnVisibleObjects
		WHERE pxt_session_id = #session_id#
		AND object_type = #object_type#
		AND object_id IN
		<iterate property="id_list" open="(" close=")" conjunction=",">
		    #id_list[]#
		</iterate>
	</select>   		   
    <select id="maxServerId" resultClass="java.lang.Long">
        SELECT MAX(ID)
          FROM rhnServer
    </select>
</sqlMap>
