recursive-include smart *.py *.c *.png
include smart setup.cfg MANIFEST.in HACKING IDEAS TODO LICENSE README Makefile
include doc/README.html doc/default.css

recursive-include contrib/ksmarttray *.png *.cc *.h *.am *.in.in
recursive-include contrib/ksmarttray LICENSE eventsrc
graft contrib/ksmarttray/admin

recursive-include contrib/smart-update *.c Makefile

recursive-include contrib/patches *

recursive-include contrib/rpmhelper *

recursive-include locale *.pot *.po *.mo
