Source: apt-spacewalk
Section: admin
Priority: extra
Maintainer: Miroslav Suchý <miroslav@suchy.cz>
Uploaders: Bernd Zeimetz <bzed@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3~)
Standards-Version: 3.9.3
Homepage: https://github.com/spacewalkproject/spacewalk
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/spacewalk/apt-spacewalk.git
Vcs-Git: git://anonscm.debian.org/collab-maint/spacewalk/apt-spacewalk.git

Package: apt-transport-spacewalk
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, apt, python-apt,
 rhn-client-tools, python-six
Provides: ${python:Provides}
Recommends: rhnsd
Description: APT transport for communicating with Spacewalk servers
 creates repository entries like
 'deb spacewalk://your-spacewalk-server/ channel repodata'
 for every channel the client has subscribed in your sources.list.
 Also it provides the necessary hooks to update your sources.list
 automatically according to the settings on your Spacewalk server.
