Source: apt-spacewalk
Section: python
Priority: extra
Maintainer: Simon Lukasik <xlukas08@stud.fit.vutbr.cz>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://fedorahosted.org/spacewalk

Package: apt-spacewalk
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, apt, python-apt,
 python-rhn-client-tools
Provides: ${python:Provides}
Recommends: rhnsd
Suggests: rhncfg, rhnpush, osad
Description: Spacewalk transport for apt-get.
 This is used to connect to Spacewalk servers.
