[Unit]
Description=Red Hat Network Monitoring daemon
After=syslog.target network.target auditd.service

[Service]
User=nocpulse
PIDFile=/var/run/rhnmd.pid
ExecStartPre=/var/lib/nocpulse/sbin/rhnmd_create_key.sh
ExecStart=/usr/sbin/rhnmd -D -f /etc/nocpulse/rhnmd_config
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
