Source: python-hwdata
X-Python-Version: >= 2.6
Section: python
Priority: optional
Homepage: https://fedorahosted.org/spacewalk/wiki/Projects/python-hwdata
Maintainer: William van de Velde <kc@cobradevil.org>
Build-Depends: debhelper (>> 8), python (>=2.6.6-3), python-all-dev (>= 2.6.6-3)
Standards-Version: 3.9.3

Package: python-hwdata
Architecture: any
Provides: ${python:Provides}
Depends: ${python:Depends}, ${misc:Depends}, hwdata
Description: python extension for hwdata
 With this module you can access the hwdata database
