<Files proxy.pxt>
  ForceType text/pxt
  SetHandler perl-script
  PerlModule PXT::ApacheHandler
  PerlHandler PXT::ApacheHandler

  require acl mixin RHN::Access::System user_role(org_admin); system_feature(ftr_proxy_capable); org_channel_family(rhn-proxy); child_channel_candidate(rhn-proxy)
</Files>

<Files activation.pxt>
  AuthType Basic
  AuthName "RHN Org Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

  require acl system_feature(ftr_agent_smith)
</Files>

<Files remote_commands.pxt>
  AuthType Basic
  AuthName "RHN Org Admin Area"

  PerlModule PXT::ApacheHandler
  PerlModule PXT::ApacheAuth
  PerlAuthenHandler PXT::ApacheAuth

  require acl system_feature(ftr_remote_command)
</Files>
